@import 'default.css';
@import 'theme.css';

/* ----- Light Theme ----- */
:root {
  --filter: opacity(0.4) grayscale(1);
}

/* for the default theme */
:root:not([class]) {
  --nav-bg: #630;
}

/* ----- Dark Theme ----- */
@media screen and (prefers-color-scheme: dark) {
  :root {
    --filter: opacity(1) grayscale(1);
  }
}

/* ----- General ----- */
body {
  opacity: 0;
  font-size: 12px;
  width: 25em;
  background-color: var(--bg);
  transition: opacity 0.5s;
}

h1 {
  color: var(--nav-color);
  background-color: var(--nav-bg);
  margin: 0;
  padding: 0.5em;
}

h1 img {
  width: 1.5em;
  vertical-align: text-bottom;
}

/* ----- Buttons ----- */
div.popup-buttons {
  display: grid;
  grid-auto-flow: column;
  column-gap: 0.1em;
}

button {
  color: #fff;
  border: none;
  padding: 0.8em;
  /* font-weight: bold; */
}

button:hover {
  background-color: var(--btn-hover);
}
/* ----- /Buttons ----- */

/* ----- Main Display ----- */
div.list {
  padding-top: 0.5em;
  min-height: 15em;
  max-height: 30em;
  overflow-y: auto;
  scrollbar-width: thin;
}

div.list label {
  display: grid;
  grid-template-columns: 3em 1fr auto auto;
  column-gap: 0.5em;
  padding: 0.2em 0.5em;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

div.list label:hover {
  background-color: var(--hover);
}

.flag img {
  width: 1em;
}

.flag img.off {
  filter: var(--filter);
}

.flag {
  display: grid;
  grid-row: span 2;
  justify-content: center;
  font-size: 2em;
}

.title {
  color: var(--header);
  font-size: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.port {
  color: var(--dim);
  text-align: right;
}

.data {
  grid-column: span 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  color: var(--dim);
}

input[name="server"] {
  grid-row: span 2;
  transition: 0.5s ease-in-out;
  align-self: center;
  cursor: pointer;
}

input[name="server"]:not(:checked) {
  opacity: 0;
}

input#filter {
  background: url('../image/filter.svg') no-repeat left 0.5em center / 1em;
  padding-left: 2em;
  margin-bottom: 0.2em;
  /* grid-column: span 2; */
}

div.list label.off {
  display: none;
}

summary {
  background-color: var(--alt-bg);
  padding: 0.2em 0.5em;
  margin-bottom: 0.1em;
}

div.host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5em;
  gap: 0.2em;
  align-items: center;
}

div.host button {
  background-color: unset;
  border-radius: 5px;
  border: 1px solid var(--border);
  color: var(--color);
  font-weight: normal;
  padding: 0.2em;
}

div.host button:hover {
  background-color: var(--hover);
}

/* div.host select {
  grid-column: span 2;
} */

/* ----- show/hide elements ----- */
/* --- Chrome --- */
.chrome .firefox {
  opacity: 0.3;
  pointer-events: none;
  user-select: none;
}

/* ---managed --- */
.managed .local {
  opacity: 0.3;
  pointer-events: none;
  user-select: none;
}

/* --- Basic --- */
.basic .pattern {
  display: none;
}
/* ----- /show/hide elements ----- */