frame#awesome * {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    border-color: transparent;
}

box#vbox {
    padding-right: 20px;
}

#sidebar label {
    font-size: 14px;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
}

label#title {
    font-size: 20px;
    font-weight: 600;
}

#textview_log text{
    background-color: #232627;
    color: #fcfcfc;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
}

label#label_package_status {
    background-color: @theme_base_color;
    border-top: 1px solid @borders;
    border-bottom: 1px solid @borders;
    border-left: 1px solid @borders;
    border-right: 1px solid @borders;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    font-weight: bold;
    color: #fcfcfc;
}