[Desktop Entry]
Name=crackle
Comment=Crack and decrypt BLE encryption
Exec=shell-rocket -b crackle
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-password-cracking
X-Athena-Package=crackle
