[Desktop Entry]
Name=trufflehog
Comment=Searches through git repositories for secrets
Exec=shell-rocket -b trufflehog
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-unsecured-credentials
X-Athena-Package=trufflehog
