[Desktop Entry]
Name=jboss-linux
Comment=JBoss script for obtaining remote shell access
Exec=shell-rocket -b unix-jboss-autopwn -p jboss-autopwn
Icon=athena-jboss-linux
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-initial-access
X-Athena-Package=jboss-autopwn
