[Desktop Entry]
Name=statsgen
Comment=Password analysis and cracking kit
Exec=shell-rocket -b statsgen -p pack -x '-h'
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-password-profiling-wordlists
X-Athena-Package=pack
