[Desktop Entry]
Name=netsniff-ng
Comment=The packet sniffing beast
Exec=shell-rocket -b netsniff-ng -x '-h'
Icon=athena-netsniff-ng
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-network-sniffing;mitre-respond
X-Athena-Package=netsniff-ng
