[Desktop Entry]
Name=wpscan
Comment=WordPress Security Scanner
Exec=shell-rocket -b wpscan -x '--help'
Icon=athena-wpscan
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-web-vulnerability-scanning;red-03-webapp-analysis;red-cms-identification;red-web-vulnerability-scanners;
X-Athena-Package=wpscan
