[Desktop Entry]
Name=spike-fuzzer-generic-listen_tcp
Encoding=UTF-8
Exec=shell-rocket -b spike-fuzzer-generic-listen_tcp -p spike-fuzzer
Icon=athena-spike
StartupNotify=false
Terminal=false
Type=Application
Categories=red-fuzzers;
X-Athena-Package=spike-fuzzer
