[Desktop Entry]
Name=powershell-empire
Comment=PowerShell and Python post-exploitation agent
Exec=shell-rocket -b empire
Icon=athena-powershell-empire
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-command-and-control;red-10-maintaining-access;
X-Athena-Package=empire
