[Desktop Entry]
Name=CAT
Comment=Concatenate files and print on the standard output
Exec=shell-rocket -b CAT -p cisco-auditing-tool
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-vulnerability-scanning;mitre-brute-force;mitre-identify
X-Athena-Package=cisco-auditing-tool
