[Desktop Entry]
Name=galleta
Comment=Tool to extract information from MSIE cookie files
Exec=shell-rocket -b galleta
Icon=athena-galleta
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-forensics;mitre-respond;red-11-forensics;blue-respond;
X-Athena-Package=galleta
