[Desktop Entry]
Name=above
Comment=Invisible protocol sniffer for finding vulnerabilities in the network
Exec=shell-rocket -b above
Icon=athena-above
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-network-sniffing
X-Athena-Package=above
