[Desktop Entry]
Name=dns-rebind
Comment=DNS rebinding tool
Exec=shell-rocket -b rebind_dns -p rebind
Icon=athena-dns-rebind
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-initial-access
X-Athena-Package=rebind
