[Desktop Entry]
Name=generic_listen_tcp
Comment=Network protocol fuzzer
Exec=shell-rocket -b spike-fuzzer-generic-listen_tcp -p spike-fuzzer
Icon=athena-generic_listen_tcp
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-resource-development
X-Athena-Package=spike-fuzzer
