[Desktop Entry]
Name=netexec
Comment=Network Execution Tool
Exec=shell-rocket -b netexec -x '-h'
Icon=athena-netexec
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-pass-the-hash;mitre-brute-force;mitre-credential-access;mitre-network-share-discovery;mitre-pass-the-hash;mitre-lateral-movement;mitre-application-layer-protocol
X-Athena-Package=netexec
