[Desktop Entry]
Name=reaver
Comment=WPS Cracker
Exec=shell-rocket -b reaver -x '-h'
Icon=athena-reaver
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-wifi-credential-access;red-06-wireless-attacks;
X-Athena-Package=reaver
