[Desktop Entry]
Name=mac-robber
Comment=Collects data about allocated files in mounted filesystems
Exec=shell-rocket -b mac-robber
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-respond;blue-respond;
X-Athena-Package=mac-robber
