[Desktop Entry]
Name=mfcuk
Comment=MiFare Classic Universal toolKit
Exec=shell-rocket -b mfcuk
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-nfc
X-Athena-Package=mfcuk
