[Desktop Entry]
Name=ftest
Comment=Tool for testing firewalls and Intrusion Detection System (IDS)
Exec=shell-rocket -b ftest -p ftester
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-defense-evasion
X-Athena-Package=ftester
