[Desktop Entry]
Name=bully
Comment=Implementation of the WPS brute force attack, written in C
Exec=shell-rocket -b bully
Icon=athena-bully
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-wifi-credential-access;red-wireless-tools;
X-Athena-Package=bully
