[Desktop Entry]
Name=macchanger
Comment=MAC Changer
Exec=shell-rocket -b macchanger -x '-h'
Icon=athena-macchanger
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-defense-evasion;red-09-sniffing-spoofing;
X-Athena-Package=macchanger
