[Desktop Entry]
Name=dnschef
Comment=DNS proxy for penetration testers
Exec=shell-rocket -b dnschef -x '-h'
Icon=athena-dnschef
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-network-sniffing;red-network-spoofing;red-network-sniffers;
X-Athena-Package=dnschef
