[Desktop Entry]
Name=webscarab
Comment=Web application review tool
Exec=webscarab
Icon=athena-webscarab
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-web-vulnerability-scanning
X-Athena-Package=webscarab
StartupWMClass=org-owasp-webscarab-Main
