[Desktop Entry]
Name=grokevt-findlogs
Comment=Attempts to find log file fragments in raw binary files, such as memory dumps and disk images.
Exec=shell-rocket -b grokevt-findlogs -p grokevt -x '-h'
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-sleuth-kit-suite;mitre-detect;red-forensic-suites;blue-detect;
X-Athena-Package=grokevt
