[Desktop Entry]
Name=responder
Comment=LLMNR/NBT-NS/mDNS Poisoner
Exec=shell-rocket -b responder -x '-h'
Icon=athena-responder
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-pass-the-hash;red-09-sniffing-spoofing;
X-Athena-Package=responder
