[Desktop Entry]
Name=jls
Comment=List the contents of a file system journal
Exec=shell-rocket -b jls -p sleuthkit
Icon=athena-jls
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-sleuth-kit-suite;red-forensic-suites;
X-Athena-Package=sleuthkit
