[Desktop Entry]
Name=tnscmd10g
Comment=Tool to prod the oracle tnslsnr process
Exec=shell-rocket -b tnscmd10g -p tnscmd
Icon=athena-tnscmd10g
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-databases
X-Athena-Package=tnscmd
