[Desktop Entry]
Name=ffuf
Comment=Fast web fuzzer written in Go
Exec=shell-rocket -b ffuf -x '-h'
Icon=athena-ffuf
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-web-scanning;mitre-reconnaissance;red-web-crawlers;
X-Athena-Package=ffuf
