[Desktop Entry]
Name=ssdeep
Comment=Computes context triggered piecewise hashes (fuzzy hashes)
Exec=shell-rocket -b ssdeep -x '-h'
Icon=athena-ssdeep
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-forensics;red-11-forensics;
X-Athena-Package=ssdeep
