[Desktop Entry]
Name=ffind
Comment=Finds the name of the file or directory using a given inode
Exec=shell-rocket -b ffind -p sleuthkit
Icon=athena-ffind
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-sleuth-kit-suite;red-forensic-suites;
X-Athena-Package=sleuthkit
