[Desktop Entry]
Name=commix
Comment=Automated All-in-One OS Command Injection and Exploitation Tool
Exec=shell-rocket -b commix -x '--wizard'
Icon=athena-commix
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-initial-access;red-03-webapp-analysis;
X-Athena-Package=commix
