[Desktop Entry]
Name=atk6-thcping6
Comment=The Hacker Choice's IPv6 Attack Toolkit
Exec=shell-rocket -b thcping6 -p thc-ipv6
Icon=athena-atk6-thcping6
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-remote-system-discovery
X-Athena-Package=thc-ipv6
