[Desktop Entry]
Name=recoverdm
Comment=Recover files on disks with damaged sectors
Exec=shell-rocket -b recoverdm -x '-h'
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-forensic-carving-tools;mitre-recover;red-forensic-carving-tools;blue-recover;
X-Athena-Package=recoverdm
