[Desktop Entry]
Name=pwnat
Comment=NAT to NAT client-server communication
Exec=shell-rocket -b pwnat -x '-h'
Icon=athena-pwnat
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-protocol-tunneling;red-tunneling;
X-Athena-Package=pwnat
