[Desktop Entry]
Name=impacket-mssqlclient
Comment=Python3 module to easily build and dissect network protocols
Exec=shell-rocket -b mssqlclient.py -p impacket
Icon=athena-impacket-mssqlclient
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-databases
X-Athena-Package=impacket
