[Desktop Entry]
Name=jd-gui
Comment=GUI Java .class decompiler
Exec=jd-gui
Icon=athena-jd-gui
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-resource-development
X-Athena-Package=jd-gui
StartupWMClass=org-jd-gui-App
