[Desktop Entry]
Name=theHarvester
Comment=tool for gathering e-mail accounts and subdomain names from public sources
Exec=shell-rocket -b theharvester -x '-h'
Icon=athena-theHarvester
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-network-information
X-Athena-Package=theharvester
