[Desktop Entry]
Name=gobuster
Comment=Directory/file & DNS busting tool written in Go
Exec=shell-rocket -b gobuster
Icon=athena-gobuster
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-web-scanning;mitre-reconnaissance
X-Athena-Package=gobuster
