[Desktop Entry]
Name=ubertooth-util
Comment=General purpose Ubertooth utility
Exec=shell-rocket -b ubertooth-util -p ubertooth
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-bluetooth
X-Athena-Package=ubertooth
