[Desktop Entry]
Name=dsniff
Comment=Password sniffer
Exec=shell-rocket -b dsniff -x '-h'
Icon=athena-dsniff
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-network-sniffing
X-Athena-Package=dsniff
