[Desktop Entry]
Name=grokevt-ripdll
Comment=A tool for extracting message resources from a PE-formatted file.
Exec=shell-rocket -b grokevt-ripdll -p grokevt -x '-h'
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-sleuth-kit-suite;mitre-detect;red-forensic-suites;blue-detect;
X-Athena-Package=grokevt
