[Desktop Entry]
Name=johnny
Comment=GUI for John the Ripper
Exec=johnny
Icon=athena-johnny
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-password-cracking
X-Athena-Package=johnny
StartupWMClass=johnny
