[Desktop Entry]
Name=scalpel
Comment=Recover files using a header/footer database
Exec=shell-rocket -b scalpel -x '-h'
Icon=athena-scalpel
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-forensic-carving-tools;red-forensic-carving-tools;
X-Athena-Package=scalpel
