[Desktop Entry]
Name=svwar
Comment=Extension line scanner
Exec=shell-rocket -b sipvicious-svwar -p sipvicious -x '-h'
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-voip
X-Athena-Package=sipvicious
