[Desktop Entry]
Name=chntpw
Comment=Utility to overwrite passwords of Windows systems
Exec=shell-rocket -b chntpw
Icon=athena-chntpw
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-os-credential-dumping;red-offline-attacks;
X-Athena-Package=chntpw
