[Desktop Entry]
Name=sparrow-wifi
Comment=Graphical Wi-Fi Analyzer for Linux
Exec=pkexec sparrow-wifi
Icon=athena-sparrow-wifi
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-wifi
X-Athena-Package=sparrow-wifi
