[Desktop Entry]
Name=cryptsetup
Comment=Manage plain dm-crypt, LUKS, and other encrypted volumes
Exec=shell-rocket -b cryptsetup -x '--help'
Icon=athena-cryptsetup
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-protect;blue-protect;
X-Athena-Package=cryptsetup
