[Desktop Entry]
Name=tcpreplay
Comment=Replay network traffic stored in pcap files
Exec=shell-rocket -b tcpreplay -x '-h'
Icon=athena-tcpreplay
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-system-network-configuration-discovery;red-network-spoofing;
X-Athena-Package=tcpreplay
