[Desktop Entry]
Name=ssldump
Comment=Dump SSL traffic on a network
Exec=shell-rocket -b ssldump -x '-h'
Icon=athena-ssldump
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-collection;red-ssl-analysis;
X-Athena-Package=ssldump
