[Desktop Entry]
Name=hfind
Comment=Lookup a hash value in a hash database
Exec=shell-rocket -b hfind -p sleuthkit
Icon=athena-hfind
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-sleuth-kit-suite;red-forensic-suites;
X-Athena-Package=sleuthkit
