[Desktop Entry]
Name=istat
Comment=Display details of a meta-data structure (i.e. inode)
Exec=shell-rocket -b istat -p sleuthkit
Icon=athena-istat
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-sleuth-kit-suite;red-forensic-suites;
X-Athena-Package=sleuthkit
