[Desktop Entry]
Name=gophish
Comment=Open-Source Phishing Toolkit
Exec=shell-rocket -b gophish -x '-h'
Icon=athena-gophish
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-initial-access;mitre-system-services
X-Athena-Package=gophish
