[Desktop Entry]
Name=srch_strings
Comment=Display printable strings in files
Exec=shell-rocket -b srch_strings -p sleuthkit -x '-h'
Icon=athena-srch_strings
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-sleuth-kit-suite;red-forensic-suites;
X-Athena-Package=sleuthkit
