[Desktop Entry]
Name=mactime
Comment=Create an ASCII time line of file activity
Exec=shell-rocket -b mactime -p sleuthkit
Icon=athena-mactime
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-sleuth-kit-suite;mitre-respond
X-Athena-Package=sleuthkit
