[Desktop Entry]
Name=cmospwd
Comment=A cmos/bios password recovery tool
Exec=shell-rocket -b cmospwd -x '-h'
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-password-cracking
X-Athena-Package=cmospwd
