[Desktop Entry]
Name=mmcat
Comment=Output the contents of a partition to stdout
Exec=shell-rocket -b mmcat -p sleuthkit
Icon=athena-mmcat
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-sleuth-kit-suite;red-forensic-suites;
X-Athena-Package=sleuthkit
