[Desktop Entry]
Name=cisco-torch
Comment=Cisco device scanner
Exec=shell-rocket -b cisco-torch
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-cisco-tools
X-Athena-Package=cisco-torch
