[Desktop Entry]
Name=bloodhound
Comment=Six Degrees of Domain Admin
Exec=shell-rocket -b bloodhound
Icon=athena-bloodhound
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-active-directory;mitre-discovery
X-Athena-Package=bloodhound
