[Desktop Entry]
Name=scapy
Comment=Interactive packet manipulation tool
Exec=shell-rocket -b scapy
Icon=athena-scapy
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-network-sniffing;mitre-impact;red-09-sniffing-spoofing;
X-Athena-Package=python3-scapy
