[Desktop Entry]
Name=cisco-ocs
Comment=Mass Cisco scanner
Exec=shell-rocket -b cisco-ocs
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-cisco-tools
X-Athena-Package=cisco-ocs
