[Desktop Entry]
Name=rsmangler
Comment=Wordlist mangling tool
Exec=shell-rocket -b rsmangler -x '-h'
Icon=athena-rsmangler
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-password-profiling-wordlists;red-profile;
X-Athena-Package=rsmangler
