[Desktop Entry]
Name=pipal
Comment=Statistical analysis on password dumps
Exec=shell-rocket -b pipal -x '-h'
Icon=athena-pipal
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-reporting-tools;red-12-reporting;
X-Athena-Package=pipal
