[Desktop Entry]
Name=t50
Comment=Network packet injector
Exec=shell-rocket -b t50 -x '-h'
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-impact
X-Athena-Package=t50
