[Desktop Entry]
Name=hash-identifier
Comment=Tool to identify hash types
Exec=shell-rocket -b hash-identifier
Icon=athena-hash-identifier
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-hash-identification;red-offline-attacks;
X-Athena-Package=hash-identifier
