[Desktop Entry]
Name=apache-users
Comment=Enumerate usernames on systems with Apache UserDir module
Exec=shell-rocket -b apache-users
Icon=athena-apache-users
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-account-discovery
X-Athena-Package=apache-users
