[Desktop Entry]
Name=blkstat
Comment=Display details of a file system data unit (i.e. block or sector)
Exec=shell-rocket -b blkstat -p sleuthkit
Icon=athena-blkstat
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-sleuth-kit-suite;red-forensic-suites;
X-Athena-Package=sleuthkit
