[Desktop Entry]
Name=raven
Comment=Python tool that extends the capabilities of the http.server Python module
Exec=shell-rocket -b raven
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-exfiltration
X-Athena-Package=raven
