[Desktop Entry]
Name=finalrecon
Comment=fast and simple Python script for web reconnaissance
Exec=shell-rocket -b finalrecon -x '-h'
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-web-scanning
X-Athena-Package=finalrecon
