[Desktop Entry]
Name=vinetto
Comment=Extract thumbnails and associated metadata from Thumbs.db files
Exec=shell-rocket -b vinetto -x '-h'
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-digital-forensics;red-forensic-analysis-tools;
X-Athena-Package=vinetto
