[Desktop Entry]
Name=laudanum
Comment=Collection of injectable web files
Exec=shell-rocket -b laudanum -d /usr/share/laudanum
Icon=athena-laudanum
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-persistence;red-web-backdoors;
X-Athena-Package=laudanum
