[Desktop Entry]
Name=witnessme
Comment=Web Inventory tool
Exec=shell-rocket -b witnessme -p python-witnessme -x '-h'
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-reporting-tools;mitre-identify;blue-identify;
X-Athena-Package=python-witnessme
