[Desktop Entry]
Name=autopsy
Comment=Autopsy Forensic Browser
Exec=shell-rocket -b autopsy '--nosplash' -g
Icon=athena-autopsy
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-sleuth-kit-suite;athena-forensics;red-11-forensics;red-forensic-suites;
X-Athena-Package=autopsy
