[Desktop Entry]
Name=svreport
Comment=Report engine manage sessions from previous scans with SIPVicious
Exec=shell-rocket -b sipvicious-svreport -p sipvicious -x '-h'
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-voip
X-Athena-Package=sipvicious
