[Desktop Entry]
Name=binwalk
Comment=Tool for searching binary images for embedded files and executable code
Exec=shell-rocket -b binwalk -x '-h'
Icon=athena-binwalk
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-forensics;red-11-forensics;
X-Athena-Package=binwalk
