[Desktop Entry]
Name=ohrwurm
Comment=RTP fuzzer
Exec=shell-rocket -b ohrwurm -r
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-voip
X-Athena-Package=ohrwurm
