[Desktop Entry]
Name=webacoo
Comment=Web backdoor cookie script kit
Exec=shell-rocket -b webacoo -x '-h'
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-persistence
X-Athena-Package=webacoo
