[Desktop Entry]
Name=fcrackzip
Comment=A Free/Fast Zip Password Cracker
Exec=shell-rocket -b fcrackzip -x '--help'
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-password-cracking;red-offline-attacks;
X-Athena-Package=fcrackzip
