[Desktop Entry]
Name=zaproxy
Comment=Testing tool for finding vulnerabilities in web applications
Exec=shell-rocket -b zaproxy -g
Icon=athena-zaproxy
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-web-vulnerability-scanning;mitre-identify;red-03-webapp-analysis;red-web-application-proxies;blue-identify;
X-Athena-Package=zaproxy
StartupWMClass=org-zaproxy-zap-ZAP
