[Desktop Entry]
Name=maltego
Comment=Open source intelligence and forensics application
Exec=shell-rocket -b maltego -g
Icon=athena-maltego
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-reconnaissance;athena-reporting-tools;mitre-identify;red-01-info-gathering;red-osint-analysis;red-12-reporting;red-13-social-engineering-tools;blue-identify;
X-Athena-Package=maltego
StartupWMClass=Maltego
