[Desktop Entry]
Name=dc3dd
Comment=Convert and copy a file
Exec=shell-rocket -b dc3dd -x '--help'
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-digital-forensics;athena-forensic-imaging-tools;mitre-respond;red-digital-forensics;red-forensic-imaging-tools;blue-respond;
X-Athena-Package=dc3dd
