[Desktop Entry]
Name=netmask
Comment=A netmask generation and conversion program
Exec=shell-rocket -b netmask -x '-h'
Icon=athena-netmask
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-system-network-configuration-discovery;red-route-analysis;
X-Athena-Package=netmask
