[Desktop Entry]
Name=samdump2
Comment=Retrieves syskey and extract hashes from Windows 2k/NT/XP/Vista SAM.
Exec=shell-rocket -b samdump2 -x '-h'
Icon=athena-samdump2
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-os-credential-dumping;red-offline-attacks;
X-Athena-Package=samdump2
