[Desktop Entry]
Exec=xdg-open https://athenaos.org/
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-athenaos-links
X-Athena-Package=athena-config
Name=Athena OS
Comment=The official web site of Athena OS
Icon=athena-menu
