[Desktop Entry]
Name=tlssled
Comment=Evaluates the security of a target SSL/TLS (HTTPS) server
Exec=shell-rocket -b tlssled
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-network-service-discovery
X-Athena-Package=tlssled
