[Desktop Entry]
Name=rcrack
Comment=Rainbow table password cracker
Exec=shell-rocket -b rcrack -p rainbowcrack
Icon=athena-rcrack
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-password-cracking
X-Athena-Package=rainbowcrack
