[Desktop Entry]
Name=amass
Comment=In-depth DNS Enumeration and Network Mapping
Exec=shell-rocket -b amass
Icon=athena-amass
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-network-information;mitre-network-service-discovery;mitre-discovery;mitre-identify;red-01-info-gathering;blue-identify;
X-Athena-Package=amass
