[Desktop Entry]
Name=foremost
Comment=Recover files using their headers, footers, and data structures
Exec=shell-rocket -b foremost -x '-h'
Icon=athena-foremost
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-forensic-carving-tools;athena-forensics;mitre-respond;red-11-forensics;red-forensic-carving-tools;blue-respond;
X-Athena-Package=foremost
