[Desktop Entry]
Name=burpsuite
Comment=platform for security testing of web applications
Exec=shell-rocket -b burpsuite -g
Icon=athena-burpsuite
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-web-vulnerability-scanning;mitre-reconnaissance;red-03-webapp-analysis;red-web-application-proxies;
X-Athena-Package=burpsuite
StartupWMClass=burp-StartBurp
