[Desktop Entry]
Name=fls
Comment=List file and directory names in a disk image.
Exec=shell-rocket -b fls -p sleuthkit
Icon=athena-fls
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-sleuth-kit-suite;red-forensic-suites;
X-Athena-Package=sleuthkit
