[Desktop Entry]
Name=enum4linux-ng
Comment=Next generation version of enum4linux
Exec=shell-rocket -b enum4linux-ng
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-network-share-discovery
X-Athena-Package=enum4linux-ng
