[Desktop Entry]
Name=sslsplit
Comment=- transparent SSL/TLS interception
Exec=shell-rocket -b sslsplit -x '-h'
Icon=athena-sslsplit
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-collection;red-network-spoofing;
X-Athena-Package=sslsplit
