[Desktop Entry]
Name=bloodhound-python
Comment=Ingestor for BloodHound, based on Impacket (Python 3)
Exec=shell-rocket -b bloodhound-python
Icon=athena-bloodhound-python
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-active-directory
X-Athena-Package=bloodhound.py
