[Desktop Entry]
Name=dbd
Comment=Netcat clone with encryption
Exec=shell-rocket -b dbd -x '-h'
Icon=athena-dbd
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-non-application-layer-protocol;red-tunneling;red-os-backdoors;
X-Athena-Package=dbd
