[Desktop Entry]
Name=sentrypeer
Comment=A distributed list of bad IP addresses and phone numbers collected via a SIP Honeypot
Exec=shell-rocket -b sentrypeer -x '-h'
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-detect;blue-detect;
X-Athena-Package=sentrypeer
