[Desktop Entry]
Name=affcat
Comment=Output contents of an image file to stdout.
Exec=shell-rocket -b affcat -p afflib
Icon=athena-affcat
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-forensic-imaging-tools;red-forensic-imaging-tools;
X-Athena-Package=afflib
