[Desktop Entry]
Name=sctpscan
Comment=SCTP network scanner for discovery and security
Exec=shell-rocket -b sctpscan
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-network-service-discovery
X-Athena-Package=sctpscan
