[Desktop Entry]
Name=massdns
Comment=high-performance DNS stub resolver
Exec=shell-rocket -b massdns
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-network-information-dns
X-Athena-Package=massdns
