[Desktop Entry]
Name=apktool
Comment=Tool for reverse engineering Android apk files
Exec=shell-rocket -b apktool -p android-apktool
Icon=athena-apktool
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-resource-development;red-07-reverseengineer;red-android-tools;
X-Athena-Package=android-apktool
