[Desktop Entry]
Name=svcrash
Comment=Stop unauthorized scans from svcrack/svwar tool
Exec=shell-rocket -b sipvicious-svcrash -p sipvicious -x '-h'
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-voip
X-Athena-Package=sipvicious
