[Desktop Entry]
Name=yara
Comment=Find files matching patterns and rules written in a special-purpose language.
Exec=shell-rocket -b yara -x '-h'
Icon=athena-yara
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-forensics;mitre-respond;red-11-forensics;blue-respond;
X-Athena-Package=yara
