[Desktop Entry]
Name=dirsearch
Comment=An advanced command-line tool designed to brute force directories and files in webservers
Exec=shell-rocket -b dirsearch -x '-h'
Icon=athena-dirsearch
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-web-scanning
X-Athena-Package=dirsearch
