[Desktop Entry]
Name=dd_rescue
Comment=Data recovery and protection tool
Exec=shell-rocket -b ddrescue -x '-h'
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-forensic-imaging-tools;mitre-recover
X-Athena-Package=ddrescue
