[Desktop Entry]
Name=pth-winexe
Encoding=UTF-8
Exec=shell-rocket -b pth-winexe -p pth-toolkit -x '-h'
Icon=athena-pth
StartupNotify=false
Terminal=false
Type=Application
Categories=red-pass-hash;
X-Athena-Package=pth-toolkit
