[Desktop Entry]
Name=afl-fuzz
Comment=instrumentation-driven fuzzer for binary formats
Exec=shell-rocket -b afl-fuzz -p afl++
Icon=athena-afl-fuzz
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-resource-development
X-Athena-Package=afl++
