[Desktop Entry]
Name=sqlsus
Comment=MySQL injection tool
Exec=shell-rocket -b sqlsus
Icon=athena-sqlsus
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-initial-access
X-Athena-Package=sqlsus
