[Desktop Entry]
Name=bluesnarfer
Comment=A Bluesnarfing Utility
Exec=shell-rocket -b bluesnarfer
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-bluetooth
X-Athena-Package=bluesnarfer
