[Desktop Entry]
Name=heartleech
Comment=Exploits OpenSSL heartbleed vulnerability
Exec=shell-rocket -b heartleech
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-vulnerability-scanning
X-Athena-Package=heartleech
