[Desktop Entry]
Name=tsk_loaddb
Comment=Populate a SQLite database with metadata from a disk image
Exec=shell-rocket -b tsk_loaddb -p sleuthkit
Icon=athena-tsk_loaddb
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-sleuth-kit-suite;red-forensic-suites;
X-Athena-Package=sleuthkit
