[Desktop Entry]
Name=regripper
Comment=Forensic analysis of Registry hives
Exec=shell-rocket -b regripper
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-digital-forensics;red-forensic-analysis-tools;
X-Athena-Package=regripper
