[Desktop Entry]
Name=hashid
Comment=Identify the different types of hashes used to encrypt data
Exec=shell-rocket -b hashid -p python-hashid -x '-h'
Icon=athena-hashid
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-hash-identification;red-offline-attacks;
X-Athena-Package=python-hashid
