[Desktop Entry]
Name=sslsniff
Comment=SSL/TLS man-in-the-middle attack tool
Exec=shell-rocket -b sslsniff
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-collection
X-Athena-Package=sslsniff
