[Desktop Entry]
Name=linkedin2username
Comment=Generate username lists for companies on LinkedIn
Exec=shell-rocket -b linkedin2username -x '-h'
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-identity-information
X-Athena-Package=linkedin2username
