[Desktop Entry]
Name=joomscan
Comment=OWASP Joomla Vulnerability Scanner Project
Exec=shell-rocket -b joomscan -x '-h'
Icon=athena-menu
StartupNotify=false
Terminal=false
Type=Application
Categories=mitre-web-vulnerability-scanning
X-Athena-Package=joomscan
