[Desktop Entry]
Name=cutycapt
Comment=Utility to capture WebKit's rendering of a web page
Exec=shell-rocket -b cutycapt
Icon=athena-cutycapt
StartupNotify=false
Terminal=false
Type=Application
Categories=athena-reporting-tools;red-web-crawlers;red-12-reporting;
X-Athena-Package=cutycapt
