[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Fish Shell
Comment=Fish Shell
Icon=shell
Exec=kitty --class shell
Terminal=false
Categories=Tags;Describing;Application;Utility
StartupWMClass=shell
