LABEL arch64 free
TEXT HELP
Boot the Athena OS install medium on BIOS with open source drivers.
It allows you to install Athena OS or perform system maintenance.
ENDTEXT
MENU LABEL Boot Athena OS (x86_64, BIOS, open source)
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-lts
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux-lts.img
APPEND archisobasedir=%INSTALL_DIR% cow_spacesize=4G copytoram=n archisolabel=%ARCHISO_LABEL% driver=free nouveau.modeset=1 radeon.modeset=1 i915.modeset=1 nvme_load=yes

#LABEL arch64 freenonouveau
#TEXT HELP
#Boot the Athena OS install medium on BIOS with open source drivers.
#It allows you to install Athena OS or perform system maintenance.
#ENDTEXT
#MENU LABEL Boot Athena OS (x86_64, BIOS, open source, no nouveau)
#LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-lts
#INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux-lts.img
#APPEND archisobasedir=%INSTALL_DIR% cow_spacesize=4G copytoram=n archisolabel=%ARCHISO_LABEL% driver=freenonouveau radeon.modeset=1 i915.modeset=1 nvme_load=yes

#LABEL arch64 nonfree
#TEXT HELP
#Boot the Athena OS install medium on BIOS with proprietary drivers (NVIDIA).
#It allows you to install Athena OS or perform system maintenance.
#ENDTEXT
#MENU LABEL Boot Athena OS (x86_64, BIOS, NVIDIA)
#LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-lts
#INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux-lts.img
#APPEND archisobasedir=%INSTALL_DIR% cow_spacesize=4G copytoram=n archisolabel=%ARCHISO_LABEL% driver=nonfree nouveau.modeset=0 radeon.modeset=1 i915.modeset=1 nvme_load=yes

#LABEL arch64 nonfree nonouveau
#TEXT HELP
#Boot the Athena OS install medium on BIOS with proprietary drivers (NVIDIA).
#It allows you to install Athena OS or perform system maintenance.
#ENDTEXT
#MENU LABEL Boot Athena OS (x86_64, BIOS, NVIDIA, no nouveau)
#LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-lts
#INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux-lts.img
#APPEND archisobasedir=%INSTALL_DIR% cow_spacesize=4G copytoram=n archisolabel=%ARCHISO_LABEL% driver=nonfreenonouveau nouveau.modeset=0 radeon.modeset=1 i915.modeset=1 nvme_load=yes

LABEL arch64 nomodeset
TEXT HELP
Boot the Athena OS install medium on BIOS with nomodeset.
It allows you to install Athena OS or perform system maintenance.
ENDTEXT
MENU LABEL Boot Athena OS (x86_64, BIOS, nomodeset)
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-lts
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux-lts.img
APPEND archisobasedir=%INSTALL_DIR% cow_spacesize=4G copytoram=n archisolabel=%ARCHISO_LABEL% driver=free nomodeset nouveau.modeset=0 radeon.modeset=0 i915.modeset=0 nvme_load=yes
