[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Fish Shell
Comment=Fish Shell
Icon=shell
Exec=exo-open --launch TerminalEmulator
Terminal=false
Categories=Tags;Describing;Application
X-XFCE-Source=file:///usr/share/applications/shell.desktop
Path=
StartupNotify=false
