[user]
showWindowCount=true
forceIconSize=true
iconSize=24
indicatorStyle=5
inactiveIndicatorStyle=5
showPreviews=true
indicatorOrientation=1
pinned=
indicatorColorFromTheme=true
keyComboActive=false
keyAloneActive=false
