[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Auto Wordlists
Comment=Auto Wordlists
Icon=/usr/share/icons/hicolor/128x128/apps/kali-wordlists-128x128.png
Exec=kitty /usr/bin/fish -c "if test -d /usr/share/payloads/Auto_Wordlists;cd /usr/share/payloads/Auto_Wordlists;fish;else;echo \"Auto Wordlists not found. I'm retrieving it for you...\";sudo git clone https://github.com/carlospolop/Auto_Wordlists /usr/share/payloads/Auto_Wordlists;cd /usr/share/payloads/Auto_Wordlists;fish;end;"
Terminal=false
Categories=Tags;Describing;Application
