[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Fish Shell
Comment=Fish Shell
Icon=/usr/share/icons/shells/bash.svg
Exec=hyper
Terminal=false
Categories=Tags;Describing;Application
