[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Powersploit
Comment=Powersploit
Icon=/usr/share/icons/hicolor/scalable/apps/kali-powershell-empire.svg
Exec=cool-retro-term -e fish -c "if test -d /usr/share/windows/powersploit;cd /usr/share/windows/powersploit;fish;else;echo \"Powersploit is not installed. I'm retrieving it for you...\";sudo pacman -S powersploit;cd /usr/share/windows/powersploit;fish;end;"
Terminal=false
Categories=Tags;Describing;Application
