[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=PowerShell
Comment=PowerShell
Icon=/usr/share/icons/shells/powershell.svg
Exec=gnome-terminal -- fish -c 'pwsh;bash'
Terminal=false
Categories=Tags;Describing;Application
