[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Security Wordlist
Comment=Security Wordlist
Icon=/usr/share/icons/hicolor/128x128/apps/kali-golismero-128x128.png
Exec=gnome-terminal -- fish -c "if test -d /usr/share/payloads/Security-Wordlist;cd /usr/share/payloads/Security-Wordlist;fish;else;echo \"Security Wordlist not found. I'm retrieving it for you...\";sudo git clone https://github.com/DragonJAR/Security-Wordlist /usr/share/payloads/Security-Wordlist;cd /usr/share/payloads/Security-Wordlist;fish;end;"
Terminal=false
Categories=Tags;Describing;Application
