/**
* @name Better Badges
* @author mr_miner#6969
* @version 1.2.9
* @description A theme which adds cool animations to discord's badges!
* @source https://github.com/mr-miner1/Better-Badges
* @updateUrl https://github.com/mr-miner1/Better-Badges/blob/main/BetterBadges(BD).theme.css
*/

@import url('https://mr-miner1.github.io/Better-Badges/src/badges.css');
:root{
    --badge-size: 22px; /*discord defualt = 18px, theme defualt = 22px;*/
    --badge-margin: 1.5px; /*discord default = 2px, theme defualt = 1.5px*/
    --badges-everywhere-size: 15px; /*default = 15px*/
}