/**
 * @name CyberFox
 * @author bowman#3621
 * @description Theme based on Akame's with conceptualized server-side updating of background with a new cyber threat map state everytime discord reloads
 * @version 1
 */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://foxesarecute.github.io/cyberfoxBBDTheme/cyberfoxAlbetross.css'); /*Main theme import, credit to rmkx for some of the assets*/


:root {
--font: 'VT323', monospace;

}

#app-mount .app-2rEoOp {
  background-color: transparent;
  background-size: cover;
  background-image: url(http://bowmanfox.xyz/xana_as.png);

}
 /* *This is my IP. I request for you to use integrity and not to attack my main internet connection without prior authorization for pen testing, I am figuring out how to obscure it or I will implement a IPS to mitigate threats. In the mean time expect a LOT of unintentional downtime by skids.* */

