/**
 * @name Cyberpunk
 * @description 🤖 Cyberpunk theme for BetterDiscord
 * @author Elijah Conners
 * @version 1.1.5
 * @authorId 301194255731392513
 * @patreon https://www.patreon.com/elijahpepe
 * @website https://github.com/ElijahPepe/BetterDiscordAddons/tree/master/Themes/Cyberpunk
 * @source https://raw.githubusercontent.com/ElijahPepe/BetterDiscordAddons/master/Themes/Cyberpunk/Cyberpunk.theme.css
 * @updateUrl https://raw.githubusercontent.com/ElijahPepe/BetterDiscordAddons/master/Themes/Cyberpunk/Cyberpunk.theme.css
 * @invite SQqQ99jT5x
**/

@import url("https://elijahpepe.github.io/BetterDiscordAddons/Themes/Cyberpunk/Font/Stylesheet.css");
@import url("https://elijahpepe.github.io/BetterDiscordAddons/Themes/Cyberpunk/Cyberpunk.css");

:root {
    --color-high: rgb(0, 0, 0);
    --color-lowest: rgb(255, 255, 255);
    --color-low: rgb(184, 217, 209);
    --color-mid: rgb(122, 153, 145);
    --color-alert: rgb(229, 0, 77);
    --color-alert-hover: rgb(236, 0, 80);
    --color-high-trans: rgba(0, 0, 0, 0.8);
    --color-low-trans: rgba(184, 217, 209, 0.6);
    --color-alert-trans: rgba(229, 0, 77, 0.7);
    --font: BlenderProBold;
}
