/**
 * @name DiscordNight
 * @version 0.9.5.3
 * @description Dark and compact theme for BetterDiscord
 * @source https://github.com/KillYoy/DiscordNight/
 * @donate https://www.paypal.me/KillYoy
 * @author KillYoy#0295
 * @authorId 98468214824001536
*/

@import url("https://KillYoy.github.io/DiscordNight/DiscordNight.css");