/**
 * @name New Akame Ga Kill! Theme
 * @author ShadowDevilsAvenged
 * @description Newer Akame Ga Kill! theme for my return
 * @version 1
 */

/* Main Background */
.app-2CXKsg {
    background-image: url(https://images5.alphacoders.com/598/598858.jpg);
    background-size: cover;
    background-color: transparent;
}

/* Add shade to background */
.layers-1YQhyW {
    background-color: rgba(0,0,0,.6);
}

/* Transparency */
.container-ZMc96U.themed-Hp1KC_, .chat-2ZfjoI, .container-2o3qEW, .sidebar-1tnWFu, .contentRegion-3HkfJJ, .sidebarRegionScroller-FXiQOh,
.nowPlayingColumn-1eCBCN {
    background: transparent;
}
.bg-1QIAus, .wrapper-1_HaEi, .members-3WRCEx, .members-3WRCEx>div, .container-1NXEtd, .scroller-3X7KbA, 
.contentRegionScroller-2_GT_N, .standardSidebarView-E9Pc3j, .layer-86YKbF, .privateChannels-oVe7HL, .scroller-WSmht3, .theme-dark .container-2cd8Mz,
.container-1oAagU {
    background-color: transparent;
}


/* -------------------------------------------- */

.theme-dark .keybind-13vtq8 {
    color: white;
}
 
.keybind-13vtq8 {
    font-weight: 800;
    font-size: 15px;
}

.theme-dark .closeButton-PCZcma {
    border-color: #912;
}

.closeButton-PCZcma {
    border-style: dashed;
    border-radius: 8px;
    border-width: 2px;
}

.closeButton-PCZcma path {
    fill: white;
}

.accountProfileCard-lbN7n-, .fieldList-in8WkP, .background-3d_SjE {
    background-color: transparent;
}

.avatar-3mTjvZ {
    border: none;
    background-color: transparent;
}

.avatar-3mTjvZ foreignObject {
    mask: none;
}

.avatar-b5OQ1N {
    border-radius: 6px;
}

.menu-1QACrS {
    background-image: -webkit-radial-gradient(50% 50%, ellipse cover, #991121 30%, #000000 86%);
    box-shadow: none;
}

.colorDefault-CDqZdO {
    color: white;
    border-color: transparent;
}

.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
    background-color: #912;
    border: 1px solid #C13;
}

.colorDefault-CDqZdO.focused-3qFvc8 {
    background-color: #C13;
}

.button-f2h6uQ {
    border-radius: 9px;
}

.lookOutlined-3yKVGo.colorBrand-I6CyqQ {
    border-color: transparent;
    color: white;
    background-image: -webkit-radial-gradient(50% 50%, ellipse cover, rgb(17, 136, 238, .6) 30%, rgba(0, 0, 0, .6) 80%);
    background-color: transparent !important;
}

.lookOutlined-3yKVGo.colorBrand-I6CyqQ:hover {
    background-image: -webkit-radial-gradient(50% 50%, ellipse cover, #18E 30%, #000 80%);
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ {
    background-image: -webkit-radial-gradient(50% 50%, ellipse cover, rgb(17, 136, 238, .6) 30%, rgba(0, 0, 0, .6) 80%);
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
    background-image: -webkit-radial-gradient(50% 50%, ellipse cover, #18E 30%, #000000 80%);
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ {
    background-color: transparent !important;
}

.notice-1Qe0b_ {
    background-color: rgba(0,0,0,.6);
}

.lookLink-15mFoz.colorLink-1Md3RZ, .description-30xx7u a {
    color: #912;
    font-weight: bold;
    text-shadow: rgb(77, 2, 2) 0px 0px 4px,rgb(107, 0, 0) 0px 0px 4px;
}

.lookLink-15mFoz.colorLink-1Md3RZ:hover .contents-3ca1mk {
    background-image: linear-gradient(
0deg
,transparent,transparent 1px,#912 0,#912 2px,transparent 0);
}

.backdrop-2ByYRN {
    background-color: rgba(0,0,0,.4) !important;
}

.theme-dark .root-g14mjS {
    background-color: transparent !important;
    box-shadow: none;
    background-image: -webkit-repeating-linear-gradient(65deg, #912 43%, #000 47%);
}

.optionBox-1UOevl {
    background-color: rgba(0,0,0,.4);
}

.gifIconContainer-3os21a {
    background-color: #912;
}

.contentCircle-15IFyT {
    background-color: #912;
    border-radius: 6px;
}

.avatarUploaderInner-p38nm2 {
    border: none;
    background-color: transparent;
}

.imageUploaderInner-IIRaFr {
    border-radius: 6px;
    background-color: #912;
}

.theme-dark .imageUploaderIcon-2OHmFu {
    background-color: #912;
}

.imageUploaderIcon-2OHmFu {
    border-radius: 6px;
}

.profileBannerPreview-3mLIdO {
    background-color: transparent !important;
    border-radius: 5px;
    box-shadow: none;
    border: 2px solid #912;
    background-image: -webkit-linear-gradient(56deg, #000000 20%, rgb(153, 17, 33, .8) 75%);
}

.fakeActivityIcon-KeXVoI.wumpus-otZFUO {
    background-color: #912;
}

.bioTextArea-dDGOeC:focus-within {
    border-color: #912;
}

.bioTextArea-dDGOeC {
    background-color: rgba(255,255,255,.2);
    border-width: 2px;
}

.contentWrapper-3vHNP2 {
    background-color: transparent !important;
    background-image: -webkit-linear-gradient(56deg, #000000 20%, rgb(153, 17, 33, .8) 75%);
    box-shadow: none;
    padding-top: 8px;
}

.emojiPicker-6YCk8a {
    background-color: transparent !important;
    background-image: -webkit-linear-gradient(56deg, #000000 20%, rgb(153, 17, 33, .8) 75%);
    box-shadow: none;
    padding-top: 8px;
}

*::-webkit-input-placeholder {
    color: white !important;
}

.thin-31rlnD::-webkit-scrollbar {
    width: 15px;
    height: 11px;
}

.thin-31rlnD::-webkit-scrollbar-thumb {
    background-color: #912;
}

.thin-31rlnD::-webkit-scrollbar-track {
    border-color: transparent;
    background-color: transparent;
    border: none;
}

.container-1SX9VC {
    background-color: rgba(0,0,0,.3);
}

.diversitySelectorOptions-3DhNYs {
    background-color: rgba(0,0,0,.4);
    border-radius: 7px;
    border: none;
}

.diversityEmojiItem-2bgZKv:hover {
    background-color: #C13;
    border-radius: 7px;
}

.wrapper-1NNaWG {
    background-color: transparent;
}

.header-1XpmZs {
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.headerLabel-1g790w {
    text-transform: capitalize;
}

.emojiItem-277VFM.emojiItemSelected-2Lg50V {
    background-color: #C13;
}

.inspector-DFKXwB, .wrapper-22rqw6 {
    background-color: transparent;
}

.guildIcon-2SUGiq {
    background-color: #912;
    color: white;
}

.categoryItemGuildCategory-3mvXlo foreignObject {
    mask: none;
}

.categoryItemGuildCategory-3mvXlo .guildIcon-2SUGiq {
    border-radius: 6px;
}

.categoryItemDefaultCategorySelected-2YeRUu, .categoryItemDefaultCategorySelected-2YeRUu:hover {
    background-color: #C13;
}

.unicodeShortcut-3N8oDe, .theme-dark .listItemTooltip-eHcnUw {
    color: white;
}

.theme-dark .tooltipPrimary-3qLMbS {
    background-color: #912;
}

.theme-dark .tooltip-14MtrL {
    box-shadow: none;
    color: white;
}

.tooltip-14MtrL {
    border-radius: 8px;
}

.theme-dark .tooltipPrimary-3qLMbS .tooltipPointer-3L49xb {
    border-top-color: #912;
}

.lookOutlined-3yKVGo.colorRed-rQXKgM {
    color: white;
    border-color: transparent;
    background-image: -webkit-radial-gradient(50% 50%, ellipse cover, rgb(221, 17, 34, .6) 30%, rgba(0, 0, 0, .6) 80%);
    background-color: transparent !important;
}

.lookOutlined-3yKVGo.colorRed-rQXKgM:hover {
    background-image: -webkit-radial-gradient(50% 50%, ellipse cover, #d12 30%, rgba(0, 0, 0, .6) 80%);
}

.lookFilled-yCfaCM.colorRed-rQXKgM {
    color: white;
    background-color: transparent !important;
    background-image: -webkit-radial-gradient(50% 50%, ellipse cover, rgb(221, 17, 34, .6) 30%, rgba(0, 0, 0, .6) 80%);
}

.lookFilled-yCfaCM.colorRed-rQXKgM:hover {
    background-image: -webkit-radial-gradient(50% 50%, ellipse cover, #d12 30%, rgba(0, 0, 0, .6) 80%);
}

.userTag-2qPxEZ {
    color: white;
}

.description-30xx7u, .labelDescriptor-34wZ-z {
    color: white;
}

.description-30xx7u {
    font-size: 14px;
    font-weight: 200;
}

.h5-2RwDNl {
    color: white;
    font-size: 13px;
}

.h4-1_f8j1, .h5-2RwDNl {
    font-weight: 600;
    text-transform: capitalize;
}

.header-2Kx1US {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: white;
    border: 2px solid rgb(255, 255, 255, .2);
    background-color: rgb(153, 17, 34, .5);
    margin-bottom: 3px;
}

.side-2ur1Qk .header-2Kx1US:first-child {
    padding-top: 6px;
}

.item-3XjbnG {
    font-size: 13px;
    line-height: 12px;
}

.selected-g-kMVV.item-3XjbnG, .selected-g-kMVV.item-3XjbnG:hover {
    color: white;
}

.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
    background-color: transparent;
    background-image: -webkit-linear-gradient(56deg, #000000 24%, #991121 100%);
    border: 2px solid #C13;
}

.side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP):not(.side-2ur1Qk .item-3XjbnG[style*="color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);"]), .topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP) {
    background-color: #C13;
}

.card-16VQ8C {
    border-width: 2px;
    border-radius: 8px;
}

.cardPrimary-3qRT__ {
    background: rgba(0,0,0,.4);
}

.cardPrimary-3qRT__, .cardPrimaryEditable-2mz_3i {
    border-color: transparent;
}

.colorStandard-21JIj7 {
    color: white;
}

.card-16VQ8C a {
    color: #912;
    font-weight: bold;
    text-shadow: rgb(77, 2, 2) 0px 0px 4px,rgb(107, 0, 0) 0px 0px 4px;
}

.cardPrimaryOutline-1ofwVz {
    border-color: #912;
}

.auto-2K3UW5::-webkit-scrollbar {
    width: 10px;
}

.auto-2K3UW5::-webkit-scrollbar-thumb {
    background-color: #912;
}

.auto-2K3UW5::-webkit-scrollbar-thumb, .auto-2K3UW5::-webkit-scrollbar-track {
    border: none;
    border-radius: 2px;
}

.auto-2K3UW5::-webkit-scrollbar-track {
    background-color: transparent;
}

.accountList-Wii_T5 {
    background-color: transparent;
}

.accountBtn-3pgcgr {
    margin-right: 0px;
    margin-bottom: 0px;
}

.accountBtn-3pgcgr .accountBtnInner-3ttD-i {
    background-color: #912;
}

.accountBtn-3pgcgr .accountBtnInner-3ttD-i:hover {
    background-color: #C13;
}

.inner-1lPVFp {
    border-radius: 7px;
}

.connectionHeader-Ixbb1s {
    background-image: -webkit-repeating-linear-gradient(113deg, #000000 30%, #991121 32%);
    background-color: transparent;
}

.connection-YOVI9j {
    background-color: transparent;
}

.integration-1qC-fv {
    border-radius: 5px;
    background: rgba(0,0,0,.4);
}

.iconInactive-26M06U {
    border-radius: 5px;
}

.subscriptionsRedirectContainer-zD3U79 {
    background-color: rgba(0,0,0,.3);
} 

.lookFilled-yCfaCM.colorGreen-3y-Z79 {
    background-image: -webkit-radial-gradient(50% 50%, ellipse cover, rgb(34, 187, 85, .6) 30%, rgba(0, 0, 0, .6) 80%);
    background-color: transparent;
}

.lookFilled-yCfaCM.colorGreen-3y-Z79:hover {
    background-image: -webkit-radial-gradient(50% 50%, ellipse cover, #2B5 30%, #000 80%);
}

.theme-dark .feature-2IUcBI {
    background-color: rgba(0,0,0,.4);
}

.detailsBlock-24pLFz {
    background-color: rgba(0,0,0,.3);
}
.select-1Ia3hD {
    border-radius: 8px;
    border: none;
}
.open-1FRZsK {
    border-radius: 8px 8px 0 0;
}
.select-1Ia3hD, .wrapper-1b33hy {
    color: white;
}
.lookFilled-1GseHa.select-1Ia3hD {
    background-color: rgba(0,0,0,.6);
    border-color: transparent;
}
.option-2eIyOn {
    color: white;
}
.option-2eIyOn.focused-ODgjnC, .option-2eIyOn:focus, .option-2eIyOn:hover {
    background-color: #C13;
    color: white;
}
.option-2eIyOn[aria-selected=true] {
    color: white;
    background-color: #912;
}
.selectedIcon-19TbzU {
    color: white;
}
.popout-1KHNAq {
    border: none;
    background: rgba(0,0,0,.6);
    border-radius: 0 0 8px 8px;
}

.finePrint-PVnKkj {
    color: white;
}

.finePrint-PVnKkj a, .promotionText-1p8WKF a, .paymentText-BPrx01 a, .colorStandard-21JIj7 a {
    color: red;
    font-weight: bold;
}

.promotionCard-mo7ClH {
    background-color: rgba(0,0,0,.4);
}

.theme-dark .giftCodeRow-3pI-zz {
    background-color: transparent;
}

.header-ISPHUQ {
    background-color: rgba(0,0,0,.4) !important;
    color: white;
}

.body-2S0G9D {
    background-color: rgba(0,0,0,.4);
}

.input-2g-os5 {
    color: white;
    background-color: rgba(0,0,0,.4);
    border: 1px solid transparent;
}

.input-2g-os5.focused-1AtTHC, .input-2g-os5:focus {
    border-color: #912;
}

.theme-dark .bottomDivider-ZmTm-j {
    border-bottom-color: transparent;
}

.theme-dark .paymentPane-ut5qKZ {
    background-color: transparent;
    color: white;
}

.theme-dark .paginator-1eqD2g {
    background: transparent;
}

.theme-dark .payment-2bOh4k {
    background-color: transparent;
    color: white;
}

.theme-dark .summaryInfo-3hcuop {
    color: white;
}

.theme-dark .hoverablePayment-lE1s4t:hover {
    background-color: rgba(204, 17, 51, .5);
}

.theme-dark .expandedInfo-1W31i3 {
    background-color: transparent;
}

.theme-dark .paymentHeader-2o7Phd {
    border-color: transparent;
}

.theme-dark .paymentText-BPrx01, .theme-dark .descriptionWrapper-eOmU90 {
    color: white;
}

.theme-dark .codeRedemptionRedirect-2hYMSQ {
    background-color: transparent;
    border-color: #912;
}

.item-2idW98 {
    color: white;
    border-radius: 7px;
}

.itemFilled-1cPbtg {
    background-color: rgba(255,255,255,.2);
}

.item-2idW98[aria-checked=true], .item-2idW98:hover:not([aria-checked=true]) {
    color: white;
}

.itemFilled-1cPbtg[aria-checked=true] {
    background-color: transparent;
    background-image: -webkit-linear-gradient(
56deg, #000000 24%, #991121 100%);
    border: 2px solid #C13;
}

.radioBar-3w9XY- {
    border-radius: 7px;
}

.itemFilled-1cPbtg:hover:not([aria-checked=true]) {
    background-color: rgba(0,0,0,.3);
}

.radioIconForeground-2BMavi {
    color: white;
    r: 9;
}

.theme-dark .markValue-2U_-UG {
    color: white;
}

.theme-dark .bar-1Bhnl9 {
    background: #912 !important;
}

.bar-1Bhnl9 {
    border-radius: 2px;
}

.barFill-2Bh7CX {
    background: #C13 !important;
}

.theme-dark .markDash-yk2kJ- {
    background:  white;
}

.markDash-yk2kJ- {
    width: 3px;
}

.preview-QJ3OG3 {
    background-color: transparent;
}

.avatar-2e8lTP {
    background-color: #912;
    border: 2px solid #912;
    border-radius: 5px;
}

.cozy-VmLDNB .header-2jRmjb, .username-h_Y3Us, .cozy-VmLDNB .timestamp-p1Df1m, .markup-eYLPri {
    color: white;
}

.markup-eYLPri {
    font-weight: 300;
}

.markup-eYLPri a {
    color: red;
    font-weight: bold;
}

.previewMessage-2g_aBv {
    background-color: transparent;
}

.box-BHImcZ {
    border-radius: 6px;
}

.theme-dark .checkbox-f1HnKB {
    border-color: white;
}

.theme-dark .checkbox-f1HnKB[style*="border-color"] {
    border-color: #C13 !important;
    background-color: #912 !important;
}

.theme-dark .checkbox-f1HnKB[style*="border-color"] path {
    fill: white;
}

.checkbox-f1HnKB {
    border-width: 2px;
}

.theme-dark .footer-31IekZ {
    background-color: transparent;
    box-shadow: none;
}

.cameraWrapper-3a7Ngv {
    background-color: transparent;
    border: none;
    border-radius: 7px;
}

.backgroundOptionRing-1vvQ0C {
    border: 2px solid #912;
    border-radius: 7px;
}

.backgroundOptionInner-SSz19O {
    background-color: rgba(0,0,0,.4);
    border-radius: 7px;
}

.theme-dark .keybindShortcut-3zF1P9 span, .theme-dark .dim-2Uxgxb span {
    color: white;
    box-shadow: none;
    background-color: #912;
}

.theme-dark .keybindShortcut-3zF1P9 {
    color: white;
}

.keybindShortcut-3zF1P9 {
    text-transform: capitalize;
    font-weight: 200;
}

.theme-dark .keybindShortcut-3zF1P9 span:active {
    color: white;
    box-shadow: none;
    border: 2px solid #C13;
    background-color: #912;
}

.theme-dark .keybindShortcut-3zF1P9 span .bindArrow-EmK4SC g, .theme-dark .keybindShortcut-3zF1P9 span:active .bindArrow-EmK4SC g {
    fill:  white;
}

.theme-dark .notDetected-M3Ghh2 {
    background-image: -webkit-repeating-linear-gradient(111deg, #000000 39%, #c90017 41%);
    background-color: transparent;
}

.theme-dark .nowPlaying-3UpuKc {
    background-image: -webkit-repeating-linear-gradient(111deg, #000000 39%, #36c900 41%);
    background-color: transparent;
}

.notDetected-M3Ghh2, .nowPlaying-3UpuKc {
    border-radius: 7px;
}

.theme-dark .addGamePopout-2SKNIV {
    background-color: #141414;
}

.theme-dark .elevationBorderHigh-3drnJX {
    box-shadow: none;
}

.addGamePopout-2SKNIV {
    border-radius: 7px;
}

.theme-dark .nowPlaying-3UpuKc .gameName-zbZetm, .theme-dark .gameName-zbZetm, .theme-dark .lastPlayed-1jum9A, .theme-dark .overlayStatusText-In0YrK {
    color: white;
}

.theme-dark .gameNameInput-2wbDJ9:focus, .theme-dark .gameNameInput-2wbDJ9:hover,
.theme-dark .nowPlaying-3UpuKc .gameNameInput-2wbDJ9:focus, .theme-dark .nowPlaying-3UpuKc .gameNameInput-2wbDJ9:hover {
    border-color: transparent;
    background-color: rgba(126, 255, 126, .5);
}

.button-1yVL_7 {
    border-radius: 5px;
}

.theme-dark .button-1yVL_7 {
    box-shadow: none;
}

.theme-dark .default-1Tkeeg {
    background-color: rgba(0,0,0,.4);
}

.theme-dark .game-2f2vPC {
    box-shadow: none;
}

.wrapper-SdcMKg {
    border: 2px solid #912;
}

.selected-18Wszc.option-1QI4c9 {
    background-color: #912;
    border-color: #C13;
    box-shadow: none;
}

.option-1QI4c9 {
    border-radius: 7px;
    opacity: .3;
}

.option-1QI4c9:hover {
    background-color: #C13;
    box-shadow: none;
}

.bd-select .bd-select-options {
    background: rgba(0, 0, 0, .7);
    box-shadow: none;
    border: none;
}

.bd-select .bd-select-option.selected {
    background: #912;
}

.bd-select .bd-select-option:hover {
    background: #C13;
}

.bd-settings-title.bd-settings-group-title {
    text-transform: capitalize;
    font-size: 20px;
    color: white;
}

.bd-button {
    background-color: #912;
    border-radius: 6px;
}

.bd-button:hover {
    background-color: #C13;
}

.bd-search-wrapper {
    background-color: transparent;
    color: white;
}

.bd-select-wrapper {
    color: white;
    font-size: 17px;
}

.bd-addon-views .bd-view-button.selected {
    background-color: #912;
}

.bd-meta {
    color: white;
}

.bd-meta a {
    color: red;
    font-weight: bold;
}

.bd-addon-list .bd-addon-header {
    color: white;
    background: transparent;
    background-image: -webkit-radial-gradient(50% 50%, ellipse cover, #991121 26%, #000000 90%);
}

.bd-addon-list .bd-addon-card {
    background: none;
}

.bd-addon-list .bd-description {
    color: white;
    font-size: 16px;
}

.theme-dark .content-FDHp32 ol, .theme-dark .content-FDHp32 p, .theme-dark .content-FDHp32 ul li {
    color: white;
}

.content-FDHp32 a {
    color: red;
    font-weight: bold;
}

.userPopout-2j1gM4 {
    background-color: transparent !important;
    border-radius: 5px;
    box-shadow: none;
    border: 2px solid #912;
    background-image: -webkit-linear-gradient(56deg, #000000 20%, rgb(153, 17, 33, .8) 75%);
}

.updateIconForeground-2V_zo4 {
    fill: #912;
}

.stickerInspected-mwnU6w .inspectedIndicator-27zwNZ {
    background-color: rgba(0,0,0,.2);
}

.premiumCategorySelected-2KWLhN, .premiumCategorySelected-2KWLhN:hover, .stickerCategoryGenericSelected-DnO2K8, .stickerCategoryGenericSelected-DnO2K8:hover {
    background-color: #912;
}

.stickerCategory-2f6iSo {
    color: white;
}

.premiumCategory-1bZwXQ:hover {
    background-color: rgba(0,0,0,.2);
    color: white;
}

.theme-dark .option-ayUoaq[aria-selected=true] {
    background-color: #912 !important;
    border: 2px inset white;
}

.thin-31rlnD::-webkit-scrollbar-track {
    border-color: transparent;
    background-color: transparent;
    border: none;
}

.thin-31rlnD::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #912;
}

.thin-31rlnD::-webkit-scrollbar {
    width: 10px;
}

.emptyCard-KDifrB {
    background: transparent;
}

.colorDefault-CDqZdO .check-3HZJs4 {
    color: #C13;
}

.colorDefault-CDqZdO.focused-3qFvc8 .checkbox-hADx5o, .colorDefault-CDqZdO.focused-3qFvc8 .radioSelection-1UHp0b, .colorDefault-CDqZdO.focused-3qFvc8 .subtext-2GlkbE {
    color: #912;
}

.colorDefault-CDqZdO.focused-3qFvc8 .check-3HZJs4 {
    color: white;
}

.header-1w9Q93 {
    background-color: transparent;
    box-shadow: none;
}

.container-2ebMPP, .messagesPopoutWrap-3zryHW {
    background-color: transparent;
    box-shadow: none;
    background-image: -webkit-linear-gradient(56deg, #000000 20%, rgb(153, 17, 33, .8) 75%);
}

.secondary-2bzKEX {
    color: white;
}

.primary-38Hs-h:hover:not(.disabled-184-il), .secondary-2bzKEX {
    background-color: #912;
}

.tertiary-1e-lAP {
    background-color: #912;
    color: white;
}

.secondary-2bzKEX:hover:not(.disabled-184-il), .tertiary-1e-lAP:hover:not(.disabled-184-il) {
    background-color: #C13;
    color: white;
}

.guildIcon-IklRcj {
    background-color: transparent;
}

.tutorial-Nb3Zz5 {
    background-color: rgba(0,0,0,.3);
}

.tutorialIcon-25VF3Q {
    background-color: #912;
    border-radius: 6px;
    color: white;
}

.channelHeader-DFRX8q {
    background-color: transparent;
}

.wrapper-2olG5t {
    border-radius: 6px;
    background-color: #912;
    box-shadow: none;
    padding: 3px 9px;
    text-shadow: none;
    border: 2px  outset #C13;
}

.messages-23can0 {
    background-color: rgba(0,0,0,.3);
    border-radius: 3px;
}

.divider-2rZFJK {
    border-top: none;
}

.content-3spvdd {
    padding: 2px 7px;
    color: white !important;
    background: #C13;
    border-radius: 3px;
}

.reactionTooltipText-2M3J-B a {
    color: red;
    font-weight: bold;
}

.reaction-2A2y9y.reactionMe-3I9gFK {
    background-color: transparent;
    border: 2px outset #C13 !important;
}

.reaction-2A2y9y {
    background: transparent;
    border: 2px outset blue;
}


.reaction-2A2y9y:hover {
    background-color: transparent;
    border: 2px outset #00db00;
}

.reactionCount-1zkLcN {
    color: white !important;
}

.jumpButton-1V_1FA {
    background-color: rgba(0,0,0,.2);
}

.jumpButton-1V_1FA .text-2ifC_x {
    color: white !important;
}

.theme-dark .wrapper-1ZcZW- {
    background: #912;
    color: white !important;
    border: 2px outset #912;
}

.theme-dark .wrapper-1ZcZW-:hover {
    background: #C13;
    border: 2px inset #912;
}


.embedFull-1HGV2S {
    border-left: none;
    background: transparent;
}

.messageContainer-3VTXBC {
    background-color: rgba(0,0,0,.3);
    border-radius: 4px;
}

.repliedMessage-3Z6XBG:before {
    border-left:3px solid #C13;
    border-top: 3px solid #C13;
    border-top-left-radius: 0;
}

.replyBadge-LMm_Ic {
    color: white;
    background: #912;
}

.repliedMessage-3Z6XBG {
    color: white;
}

.colorDefault-CDqZdO .checkbox-hADx5o, .colorDefault-CDqZdO .radioSelection-1UHp0b {
    color: white;
}

.wrapper-2RrXDg {
    background-color: rgba(0,0,0,.2) !important;
    border: none;
}

.theme-dark .inset-SbsSFp {
    background-color: rgba(0,0,0,.2);
}

.wrapper-2RrXDg:hover .section-3G9aLW {
    background-color: rgba(203, 16, 51, .26);
    border: 1px inset white;
}

.section-3G9aLW {
    background-color: rgba(0,0,0,.3);
}

.theme-dark .subtitle-3v29zT {
    color: white;
}

.tag-15zcD_ {
    border-radius: 6px;
    background-color: #912;
    color: white !important;
}

.tag-15zcD_:hover {
    background-color: #C13;
}

.container-1SX9VC {
    border-radius: 6px;
}


.theme-dark .friendSelected-3cwmD7 {
    background-color: rgba(0,0,0,.4);
}

.theme-dark .friend-8ZraY7 {
    color: white;
}

.friend-8ZraY7 .avatar-135A-D foreignObject,
.headerAvatar-GgCKcl foreignObject,
.avatar-2MSPKk foreignObject {
    mask: none;
}

.friend-8ZraY7 .avatar-135A-D .avatar-b5OQ1N,
.headerAvatar-GgCKcl .avatar-b5OQ1N,
.avatar-2MSPKk .avatar-b5OQ1N {
    border-radius: 5px;
}

.theme-dark .children-3xh0VB:after {
    background: none;
}

.tabBar-ra-EuL .item-3mHhwr[style*="color"] {
    background-color: rgba(42, 250, 42, 0.52) !important;
    color: white !important;
}

.addFriendInputWrapper-kkoSV9:focus-within {
    border: none;
}

.container-2oNtJn {
    background-color: rgba(153, 17, 33, .43);
    border: 2px outset #C13;
}

.peopleListItem-u6dGxF {
    border-top: none;
}

.peopleListItem-u6dGxF.active-2UF8Zh, .peopleListItem-u6dGxF:hover {
    background: rgba(204, 17, 51, .35);
    border-radius: 4px;
}

.actionButton-3-B2x- {
    border-radius: 5px;
    color: white;
    background-color: #912;
}

.actionButton-3-B2x-:hover {
    color: white;
}

.actionButton-3-B2x-.highlight-3DSi7b {
    background-color: #C13;
}

.actionButton-3-B2x-.actionDeny-1pQVuZ:hover {
    color: white!important;
    background-color: #680303;
    border: 1px solid red;
}

.quickswitcher-pKcM9U {
    border-radius: 5px;
    box-shadow: none;
    background-image: -webkit-linear-gradient(56deg, #000000 20%, rgb(153, 17, 33, .8) 75%);
    color: white;
}

.input-3r5zZY {
    background-color: rgba(0,0,0,.3);
    color: white;
    box-shadow: none;
}

.scroller-2qwVWY {
    background-color: transparent;
}

.contentDefault-17ewQQ, .icon-12xJtb {
    color: white;
}

.header-1ZpMzy {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    color: white;
}

.result-u66Ywh[aria-selected=true] {
    background: rgba(204, 17, 51, .39);
    border: 2px outset #C13;
}

.note-OhIxFa {
    color: silver;
}

.miscContainer-33U-X- {
    opacity: 1;
}

.scroller-2qwVWY::-webkit-scrollbar-track {
    background-color: transparent!important;
}

.emptyStateNote-3W5lug {
    color: white;
} 

.emptyStateCTA-206J-N, .tip-Jl__cG {
    opacity: 1;
}

.emptyStateCTA-206J-N a {
    color: red;
    font-weight: bold;
}

.protip-1jXzAl {
    border-top: none;
}

.autocompleteQuerySymbol-1iAOG7 {
    background-color: #912;
    padding: 4px;
    border-radius: 6px;
}

.avatarSizeOverride-sfatEO foreignObject,
.avatar-1HDIsL foreignObject {
    mask: none;
}

.avatarSizeOverride-sfatEO .avatar-b5OQ1N,
.avatar-1HDIsL .avatar-b5OQ1N {
    border-radius: 3px;
}

.panels-3wFtMD {
    background-color: rgba(0,0,0,.3);
}

.activityPanel-9icbyU {
    border-bottom: none;
}

.button-12Fmur {
    color: white;
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    background-color: rgba(153, 17, 33, .42);
    color: white;
    font-size: 16px;
}

.interactive-1vLZ_I {
    color: white;
}

.selected-3veCBZ {
    color: white;
    background-color: rgba(204, 17, 51, .82) !important;
}

.interactive-iyXY_x, .interactiveSelected-29CP8y {
    color: white;
}

.interactive-1vLZ_I:focus-within, .interactive-1vLZ_I:hover {
    color: white;
    background-color: rgba(204, 17, 51, .34);
}


.privateChannelsHeaderContainer-1UWASm {
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 0;
    color: white !important;
}

.unreadPill-3nEWYM {
    border-radius: 0 6px 6px 0;
    text-transform: capitalize;
    color: #fff;
    background-color: #912;
}

.unreadPillCapStroke-1nE1Q8 {
    color: #912;
    fill: #912;
}

.footer-5ji8u1 {
    background-color: transparent;
}

.navButtonActive-1EqC5l {
    background-color: #912;
    border: 2px outset #912;
}

.theme-dark .container-2McqkF {
    background-color: transparent;
    background-image: -webkit-linear-gradient(56deg, #000000 20%, #991121);
}

.theme-dark .elevationBorderHigh-3drnJX {
    box-shadow: none;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker {
    background-color: transparent;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--next, .theme-dark .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--previous {
    border-color: transparent;
}

.calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--next, .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--previous {
    border: 1px outset #C13;
    border-radius: 4px;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__header {
    background-color: transparent;
    border-color: #C13;
    border-style: inset;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__current-month {
    border-bottom-color: transparent;
    color: white;
}

.calendarPicker-sDhzdi .react-datepicker__current-month {
    font-weight: 400;
    text-transform: capitalize;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__day-name {
    color: white;
}

.calendarPicker-sDhzdi .react-datepicker__day-name {
    text-transform: capitalize;
}

.calendarPicker-sDhzdi .react-datepicker__month * {
    border: none !important
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__day {
    color: white;
    border-radius: 4px;
}

.calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--keyboard-selected, .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:hover, .calendarPicker-sDhzdi .react-datepicker__day:hover {
    border-radius: 4px;
    background-color: #C13;
}


.calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:after {
    background-color: #C13;
}

.theme-dark .datePicker-3iA7_k .datePickerHint-Ir4715 {
    border-top: none;
}

.theme-dark .datePicker-3iA7_k .datePickerHint-Ir4715 .hint-xfbpCV {
    color: white;
}

.theme-dark .datePicker-3iA7_k .datePickerHint-Ir4715 .hintValue-V9hd8l {
    background-color: #912;
    border: 2px solid #912;
}

.theme-dark .datePicker-3iA7_k .datePickerHint-Ir4715 .hintValue-V9hd8l:hover {
    background-color: #C13;
    border: 2px outset #C13;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__day--disabled, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day--outside-month, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: rgba(0, 0, 0, .35);
    color: rgba(255, 255, 255, .3);
}

.theme-dark .option-ayUoaq[aria-selected=true]:after, .theme-dark .option-ayUoaq:after, .theme-dark .option-ayUoaq:hover:after {
    background: none;
}

.theme-dark .option-ayUoaq:hover, .theme-dark .focused-2FU0YH {
    background-color: rgba(0,0,0,.2);
}

.theme-dark .option-ayUoaq .answer-14OVbQ, .theme-dark .option-ayUoaq .nonText-28q_Ot, .theme-dark .option-ayUoaq strong {
    color: white;
}

.theme-dark .searchOption-3u1gRt .answer-14OVbQ, .theme-dark .option-ayUoaq.user-1dKxvu .displayUsername-UTerwm {
    color: silver;
}

.theme-dark .searchOption-3u1gRt .filter-2QaH9y, .theme-dark .option-ayUoaq.user-1dKxvu .displayedNick-1atSpT {
    color: white;
}

.theme-dark .queryContainer-ZunrLZ {
    color: white;
    border-bottom-color: transparent;
}

.option-ayUoaq.user-1dKxvu .displayAvatar-3jNvaK {
    border-radius: 4px;
}

.searchHeader-1r_ZSh {
    background-color: transparent;
}

.searchResultsWrap-5RVOkx {
    background-image: -webkit-linear-gradient(56deg, #000000 20%, #991121);
}

.channelName-3w2Y3c {
    background: transparent;
    color: white;
}

.searchResult-O9NDji {
    background-color: rgba(0,0,0,.3);
    border-radius: 5px;
}

.button-cfOvv- {
    background-color: #912 !important;
    border-radius: 5px;
    color: white;
}

.container-x059i8, .pageButton-1GMGeJ {
    color: white;
}

.roundButton-2_R5PN {
    border-radius: 5px;
}

.pageButton-1GMGeJ:hover {
    background-color: #C13;
    border: 2px outset #C13;
}

.theme-dark .activeButton-LRWFC_, .theme-dark .activeButton-LRWFC_:hover, .theme-light .activeButton-LRWFC_, .theme-light .activeButton-LRWFC_:hover {
    border: 2px inset #912;
    background-color: #912;
}

.searchAnswer-23w-CH {
    border-radius: 0 5px 5px 0;
}

.theme-dark .searchAnswer-23w-CH, .theme-dark .searchFilter-2UfsDk {
    background-color: #912;
}

.searchBar-jGtisZ {
    border-radius: 6px;
    padding: 0 6px;
    color: white;
    background-color: rgba(255,255,255,.2);
}

.search-2Mwzzq .DraftEditor-root .public-DraftEditorPlaceholder-root {
    color: white;
}

.icon-2xnN2Y {
    color: white !important;
}

.membersGroup-2eiWxl {
    color: white;
    letter-spacing: 0;
    text-transform: capitalize;
    font-size: 15px;
}

.clickable-28SzVr.container-1oeRFJ:hover, .clickable-28SzVr.container-1oeRFJ:hover .muted-14PyqW {
    color: white;
}
.clickable-28SzVr:hover .layout-1qmrhw {
    background-color: rgba(204, 17, 51, .24);
}

.clickable-28SzVr:active .layout-1qmrhw {
    background-color: rgba(204, 17, 51, .54);
}
.clickable-28SzVr.container-1oeRFJ:active, .highlighted-3PcOfB.container-1oeRFJ, .selected-1-Z6gm.container-1oeRFJ {
    color: white;
}

.avatar-6qzftW foreignObject {
    mask: none;
}

.avatar-6qzftW .avatar-b5OQ1N {
    border-radius: 4px;
}

.bodyInnerWrapper-2bQs1k {
    background-color: transparent;
    color: white;
}

.base-21yXnu.muted-eZM05q {
    color: white;
}

.textarea-_59yqs:focus {
    background-color: rgba(204, 17, 51, .63);
}

.body-1Ukv50, .topSection-13QKHs {
    background-color: transparent;
}

.listRow-2nO1T6:hover {
    background-color: rgba(0,0,0,.3);
}

.iconActiveMedium-27_R5B {
    border-radius: 4px;
}


.connectedAccount-1xKpli {
    border: 2px ridge #C13;
    background-color: rgba(153, 17, 33, .77);
    border-radius: 6px;
}

.scrollableContainer-15eg7h {
    background-color: transparent;
    border-radius: 5px;
}

.channelTextArea-1FufC0 {
    background-color: rgba(153, 17, 33, .43);
}

.button-3bklZh, .icon-3g7qdA {
    color: white;
}

.wrapper-2vIMkT, .toolbar-37BrJ5 {
    background-color: #912;
    box-shadow: none;
    border-radius: 6px;
}

.toolbar-37BrJ5 .button-lA2rvH:first-of-type {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.before_inlineCode-xn8Llh {
    border-radius: 6px 0 0 6px;
}

.button-3bklZh:hover {
    color: white;
    background-color: #C13;
}

.active-136ioF, .hover-3OQb9Y:hover {
    background-color: #C13;
}

.toolbar-37BrJ5:before {
    border-top: 8px solid #912;
}

.theme-dark .footer-VCsJQY {
    background-color: transparent;
    box-shadow: none;
}

.slateTextArea-27tjG0 {
    caret-color: white;
}

.placeholder-1_mJY1, .slateTextArea-27tjG0 .hljs-comment, .slateTextArea-27tjG0 .hljs-quote, .textArea-2CLwUE, .codeBlockSyntax-2MZ-Qy, .syntaxAfter-OxiKEl, .syntaxBefore-3pDAmR {
    color: white;
}

.after_inlineCode-WydEur, .before_inlineCode-xn8Llh, .inlineCode-2auMQi {
    background: #912;
}

.avatar-2Vndt_, .avatar-3QF_VA {
    border: none;
    background-color: transparent;
}

.avatarHint-k7pYop {
    left: 0;
    top: 0;
}

.avatar-2Vndt_ foreignObject,
.avatarHint-k7pYop foreignObject,
.avatar-3QF_VA foreignObject,
.listAvatar-2bU5Uh foreignObject,
.listAvatar-2bU5Uh foreignObject,
.size24-9rrwDS .avatarContainerMasked-13fYnN foreignObject {
    mask: none;
}

.avatar-2Vndt_ .avatar-b5OQ1N,
.avatarHint-k7pYop .avatar-b5OQ1N,
.avatar-3QF_VA .avatar-b5OQ1N,
.listAvatar-2bU5Uh .avatar-b5OQ1N, 
.size24-9rrwDS .avatarContainerMasked-13fYnN .avatar-b5OQ1N {
    border-radius: 5px;
}

.moreUsers-_v6T-L {
    background-color: rgba(0, 0, 0, .6);
    color: white;
}

.size24-9rrwDS .moreUsers-_v6T-L {
    border-radius: 5px;
    padding: 1px 4px;
}

.size24-9rrwDS .avatarContainerMasked-13fYnN foreignObject {
    mask: none;
}

.avatar-3TrM7c {
    border-radius: 5px;
}

.guildNameText-jBFbNC, .theme-dark .activityIcon-vfIBet {
    color: white;
}


.fakeLink-2FvUR7 {
    color: red;
    font-weight: bold;
}

.theme-dark .searchResultChannelCategory-19ujDo, .theme-dark .searchResultChannelIcon-C-3P9x {
    color: silver;
}

.theme-dark .option-ayUoaq .answer-14OVbQ, .theme-dark .option-ayUoaq .nonText-28q_Ot, .theme-dark .option-ayUoaq strong {
    color: white;
}

.operations-3q3u6E {
    color: white;
}

.operations-3q3u6E>a {
    color: red;
    font-weight: bold;
}

.avatarSpeaking-33RRJU {
    border-radius: 5px;
}

.avatarSpeaking-2pCGrZ {
    border: 2px solid red;
    box-shadow: none;
    border-radius: 5px;
}

.avatar-3FKimL {
    border-radius: 5px;
}

.wrapper-15CKyy {
    background-color: transparent;
}

.attachment-16cAbS, .avatar-l9Txm5 {
    background-color: #912;
}

.wrapper-3HVHpV {
    background-color: transparent;
}

.wrapper-1HIH0j {
    background-color: rgba(0, 0, 0, .5);
}

.guildIconExpired-2BFmZC, .guildIcon-3ZfRfI {
    background-color: #912;
    border-radius: 5px;
}
.theme-dark .guildIconImage-74OdmM {
    background-color: #912;
}

.iconBadge-32fMme {
    background-color: #912;
}

.liveShapeRound-2Tgi2d {
    border-radius: 5px;
}

.live-1V2D-f[style*="background-color"] {
    background-color: #912 !important;
}

.theme-dark .voiceSectionIcon-1_4-an, .theme-dark .xboxSectionIcon-1xiv4J {
    color: white;
}

.theme-dark .voiceSectionIconWrapper-4yoj76 {
    background-color: #912;
}

.voiceSectionIconWrapper-4yoj76, .voiceSectionAssets-1dg-E5,
.voiceSectionGuildImage-TctMOd, .voiceSectionNoGuildImageWrapper-17kLyh {
    border-radius: 2px;
}


.voiceSectionGuildImage-TctMOd, .voiceSectionNoGuildImageWrapper-17kLyh, .applicationStreamingAvatar-3RXs7A foreignObject,  .partyMember-YLjOa7 {
    mask: none;
}

.applicationStreamingAvatar-3RXs7A .avatar-b5OQ1N {
    border-radius: 4px;
}

.partyMember-YLjOa7 foreignObject {
    mask: none;
}

.partyMember-YLjOa7 .avatar-b5OQ1N {
    border-radius: 5px;
}

.partyMember-YLjOa7 {
    -webkit-mask: none;
    mask: none;
}

.partyMemberOverflow-3G1oZz {
    border-radius: 5px;
    color: white;
    background-color: #912;
}

.activity-2EQDZv {
    color: white;
}

.role-2TIOKu {
    border: 4px ridge #912;
    background: transparent;
}

.iconBadge-3Mmg92 {
    background-color: #912;
    border: 2px outset #912;
    width: 11px;
    height: 11px;
}

.header-3_zmOb {
    background-color: transparent;
}

.container-18GwIk {
    background-image: -webkit-linear-gradient(56deg, #000000 20%, rgb(153, 17, 33, .8) 75%);
}

.icon-mJhEWn {
    background-color: #912;
    border-radius: 4px;
    color: white;
}

.container-2rzKKA {
    background-color: rgba(0, 0, 0, .3);
    border: 2px outset #912 !important;
    border-radius: 4px;
}

.messageGroupWrapper-1jf_7C {
    background: rgba(0,0,0,.4);
    border: none;
}

.jumpButton-1ZwI_j {
    color: white !important;
    background-color: rgba(0, 0, 0, .35);
}

.jumpToPresentBar-1cEnH0 {
    border-radius: 4px 4px 0 0;
    background-color: rgba(0, 0, 0, .7);
    opacity: .75;
}

.theme-dark .form-3gdLxP:before {
    background: none;
}

.replyBar-1oi75v, .threadSuggestionBar-3ExSyc {
    background: transparent;
}

.attachedBars-2BCP3l {
    background: rgba(153, 17, 34, .3);
}

.newMessagesBar-1hF-9G {
    border-radius: 0 0 4px 4px;
    background-color: #912;
    box-shadow: none;
}

.mentioned-Tre-dv {
    background-color: rgba(153, 17, 33, .28) !important;
    border: 2px dashed #912;
}

.mentioned-Tre-dv:before {
    background-color: transparent;
}

.container-YkUktl .avatar-1EWyVD foreignObject,
.inviteRowAvatar-3ETE3i foreignObject {
    mask: none;
}

.container-YkUktl .avatar-1EWyVD .avatar-b5OQ1N,
.inviteRowAvatar-3ETE3i .avatar-b5OQ1N {
    border-radius: 4px;
}

.listDefault-2F-w65 .clickable-1ctZ-H:hover .content-1Tgc42 {
    background-color: #C13;
}

.listDefault-2F-w65 .clickable-1ctZ-H:hover .username-vAneIW, .listDefault-2F-w65 .clickable-1ctZ-H.selected-1oxcpH .username-vAneIW, .usernameSpeaking-3FKv6H {
    color: white;
}

.listDefault-2F-w65 .clickable-1ctZ-H.selected-1oxcpH .content-1Tgc42 {
    background-color: rgba(153, 17, 33, .64);
}

.theme-dark .inviteRow-3vmB7i:hover {
    background-color: rgba(0, 0, 0, .3);
}

.wrapper-1S43wv {
    color: white;
}

.wrapper-1S43wv .container-q97qHp {
    color: white;
}

.wrapper-1S43wv.muted-19J0ih, .wrapper-1S43wv.muted-19J0ih .name-3BUDLf {
    color: red;
}

.wrapper-3z7DuG {
    background-color: transparent;
}

.theme-dark .autocomplete-3NRXG8 {
    background-image: -webkit-linear-gradient(56deg, #000000 20%, rgb(153, 17, 33, .8) 75%);
    background-color: transparent;
}

.theme-dark .selected-3H3-RC {
    background-color: rgba(0, 0, 0, .3);
}

.selected-3B2w1z, .selected-3B2w1z:hover {
    background-color: #C13;
}

.icon-1kx1ir {
    color: white !important;
}

.unreadRelevant-2f-VSK, .item-2LIpTv {
    background-color: #912;
}

.unread-36eUEm, .item-2LIpTv {
    position: absolute;
    height: 12px !important;
    width: 10px;
    border-radius: 0 2px 2px 0;
}

.button-1zW0-r {
    border-radius: 4px;
    background-color: #912;
}

.button-1zW0-r:hover, .keyboard-mode .button-1zW0-r.focused-H4w81f {
    background-color: #C13;
}

.container-3XgAHv {
    background-image: -webkit-linear-gradient(56deg, #000000 20%, #991121 75%);
    background-color: transparent;
}

.iconWrapper-3plkqh {
    border-radius: 4px;
    background-color: #912;
}

.modeSelected-3DmyhH .icon-2W8DHg, .modeSelected-3DmyhH:hover .icon-2W8DHg,
.modeSelected-3DmyhH .name-28HaxV, .modeSelected-3DmyhH:hover .name-28HaxV  {
    color: white;
}


.modeUnread-3Cxepe .icon-2W8DHg, .modeUnread-3Cxepe:hover .icon-2W8DHg,
.modeUnread-3Cxepe .name-28HaxV, .modeUnread-3Cxepe:hover .name-28HaxV {
    color: lightsalmon;
}

.wrapper-NhbLHG:hover .content-1gYQeQ {
    background-color: rgba(204, 17, 51, .37);
    border: 2px outset #C13;
}

.wrapper-NhbLHG:hover .icon-2W8DHg, .wrapper-NhbLHG:hover .name-28HaxV {
    color: silver;
}

.modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
    background-color: rgba(153, 17, 33, .72);
    border: 2px inset #912;
}

.helpText-10IgPC {
    color: white;
}

.helpText-10IgPC a {
    font-weight: bold;
    color: red;
}

.theme-dark .headerClickable-zGQJz3, .theme-dark .headerDefault-1e6yjj {
    background-color: rgba(0, 0, 0, .3);
    color: white;
}

.scroller-3_YDR2 {
    background-color: transparent;
}

.emptyChannelIcon-1YdEz2 {
    border-radius: 5px;
    background-color: #912;
}

.button-1kija8 {
    color: white;
    background-color: #912;
    border: 2px outset #912;
}

.button-1kija8:hover {
    background-color: rgba(204, 17, 51, .65);
    border: 2px inset #C13;
}

.role-23oyrw {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    padding: 4px 13px;
    color: white;
    background-color: rgba(0, 0, 0, .7);
}

.markup-eYLPri code {
    background: rgba(255, 255, 255, .237);
    border: none;
}

.hljs {
    text-shadow: rgba(0, 0, 0, 0.81) -1px 2px 3px, rgba(0, 0, 0, 0.81) -1px 2px 3px;
    color: white;
}

.wrapper-2fEmwW {
    border-radius: 4px;
    color: white;
}

.users-2JoyGL {
    background-color: #912;
}

.total-1c5KCN {
    background-color: #C13;
}

.total-1c5KCN:after {
    border-right-color: #C13;
}

.childWrapper-1j_1ub {
    background-color: #912;
    color: white;
    border-radius: 5px;
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background-color: #C13;
}

.numberBadge-37OJ3S[style*="background-color"] {
    background-color: rgba(153, 17, 33, .83) !important;
    width: 20px !important;
    height: 20px;
    border: 2px outset #912;
}

.baseShapeRound-3epLEv {
    border-radius: 4px;
}

.mention-3XBnnZ {
    background-color: #912;
    border: 2px outset #912;
    opacity: .6;
    border-radius: 5px;
}

.circleIconButton-1VxDrg {
    color: #912;
    background-color: transparent;
    border-radius: 5px;
}

.circleIconButton-1VxDrg.selected-2r1Hvo {
    background-color: #C13;
}

.categoryItem-Kc_HK_.selectedCategoryItem-ZjqSui .itemInner-3e_4G4 {
    background-color: rgba(153, 17, 33, .83) !important;
    border: 2px inset #912;
}

.theme-dark .pageWrapper-2PwDoS {
    background-color: transparent;
}

.theme-dark .card-2TuZPZ, .theme-dark .iconMask-2fMR98 {
    background-color: transparent !important;
}

.subtitle-3m-md1, .title-1_TkpU, .optionHeader-27AHfD, .footerTitle-3Bslxi, .subtitle-1cc8Nz, .title-OdeD-o,
.subtitle-bIoUVX, .title-2Giw-4, .title-1LqMUp, .colorHeaderSecondary-g5teka, .sampleLink-5BWNy9,
.rowText-3MQqQi {
    color: white;
}

.container-x8Y1ix {
    border-radius: 4px;
    border: none;
    background-color: rgba(0, 0, 0, .3) !important;
}


.skip-2hTIXL, .guidelines-FvqqF2 {
    color: white;
    font-weight: bold;
}

.rowContainer-3t7486 {
    border-radius: 8px;
    background-color: rgba(54, 209, 92, 0.64) !important;
}

.folder-241Joy {
    background-color: transparent !important;
}

.expandedFolderBackground-1kSAf6 {
    border-radius: 4px;
    background-color: rgba(0,0,0,.2) !important;
}

.folderIconWrapper-1oRIZr {
    border-radius: 4px;
}

.applicationStore-2nk7Lo, .scroller-29cQFV {
    background-color: transparent;
}

.botTagRegular-kpctgU {
    background: #912;
}


.bd-toast {
    background-color: #912;
    box-shadow: none;
    color: white;
}

.bd-toast.toast-success {
    background-color: #61BC37;
}


.container-2nx-BQ, .input-2XRLou, .bd-switch-body {
    border-radius: 6px;
}

.slider-32CRPX rect, .bd-switch-body .bd-switch-slider rect {
    rx: 5;
}

.container-2nx-BQ[style*="background-color: hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%);"], .bd-switch-body {
    background-color: #e20707 !important;
}

.container-2nx-BQ[style*="background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"], .bd-switch input:checked+.bd-switch-body {
    background-color: #188b01 !important;
}

.svg-2zuE5p > foreignObject {
    mask: none;
}

.icon-3AqZ2e {
    border-radius: 12px;
}

.wanderingCubesItem-3Us-UG {
    background-color: #912;
}

.wrapper-1gVUIN.minimum-fXpVNc {
    background-color: rgba(0,0,0,.2);
}

.colorable-3rVGna.red-3T8maV {
    background: #b10202;
}

.centerButton-1IShs7 {
    border-radius: 5px;
}

.colorable-3rVGna.primaryDark-2UJt1G {
    background: rgba(0,0,0,.3);
    border-radius: 5px;
}

.colorable-3rVGna.primaryDark-2UJt1G.active-3D763s, .colorable-3rVGna.primaryDark-2UJt1G:hover {
    background: #19191a;
}


.colorable-3rVGna.red-3T8maV.active-3D763s, .colorable-3rVGna.red-3T8maV:hover {
    background: #e20707;
}

.voiceAvatar-lRbblo {
    border-radius: 5px;
}

.border-2BJQjd.speaking-3RWJBr {
    border: 4px solid red;
    box-shadow: none;
    border-radius: 5px;
}

.uploadArea-2Nu_Vc {
    background: rgba(0,0,0,.3);
}

.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .bgScale-1iWuPF {
    border-radius: 5px;
    background: rgba(153, 17, 34, .7);
}

.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS {
    border: none;
}

.upload-vLbqu- {
    background-color: transparent;
}


/* Main Color */
.main-color{color: #912;}

/* Hover Color */
.hover-color {color: #C13;}

/* Blue Button Color */
.blue-button {color: #18E;}

/* Green Button Color */
.green-button {color: #2B5;}

/* Red Button Color */
.red-button {color: #D12;}