/**
  *	@name Ocean
  *	@author DevEvil#8745
  *	@version 1.0
  *	@description Highly customized and customizable theme for Discord
  * @authorId 468132563714703390
  * @authorLink https://devevil.com
  * @source https://github.com/DevEvil99/Ocean-Discord-Theme
  * @website https://devevil.com
  * @invite jsQ9UP7kCA
*/

/*
 ________  ________  _______   ________  ________                                                        
|\   __  \|\   ____\|\  ___ \ |\   __  \|\   ___  \                                                      
\ \  \|\  \ \  \___|\ \   __/|\ \  \|\  \ \  \\ \  \                                                     
 \ \  \\\  \ \  \    \ \  \_|/_\ \   __  \ \  \\ \  \                                                    
  \ \  \\\  \ \  \____\ \  \_|\ \ \  \ \  \ \  \\ \  \                                                   
   \ \_______\ \_______\ \_______\ \__\ \__\ \__\\ \__\                                                  
    \|_______|\|_______|\|_______|\|__|\|__|\|__| \|__|                                                  
                                                                                                                                                                                                        
 ________      ___    ___      ________  _______   ___      ___ _______   ___      ___ ___  ___          
|\   __  \    |\  \  /  /|    |\   ___ \|\  ___ \ |\  \    /  /|\  ___ \ |\  \    /  /|\  \|\  \         
\ \  \|\ /_   \ \  \/  / /    \ \  \_|\ \ \   __/|\ \  \  /  / | \   __/|\ \  \  /  / | \  \ \  \        
 \ \   __  \   \ \    / /      \ \  \ \\ \ \  \_|/_\ \  \/  / / \ \  \_|/_\ \  \/  / / \ \  \ \  \       
  \ \  \|\  \   \/  /  /        \ \  \_\\ \ \  \_|\ \ \    / /   \ \  \_|\ \ \    / /   \ \  \ \  \____  
   \ \_______\__/  / /           \ \_______\ \_______\ \__/ /     \ \_______\ \__/ /     \ \__\ \_______\
    \|_______|\___/ /             \|_______|\|_______|\|__|/       \|_______|\|__|/       \|__|\|_______|
             \|___|/                                                                                                                                                                                                                                                                                               
*/

@import url('https://devevil99.github.io/devevil/BetterDiscordAddons/Theme/Ocean/Ocean.theme.css');

:root {
  --ocean-bg: url(https://cdn.discordapp.com/attachments/468141324906921984/874986058562043984/background.png);
  --ocean-home-icon: url(https://cdn.discordapp.com/attachments/468141324906921984/874999698426068992/ocean-home-icon.png);
  --ocean-color1: #00d5ce;
  --ocean-color2: #0a173a;
  --ocean-color3: #1487b1;
  --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 150deg;
  --watermark-filter-brightness: 100%;
  --watermark-filter-contrast: 200%;
  --ocean-emoji-picker-color: 150deg;
}

