/**
 * @name Translucence
 * @version 1.0.6.3
 * @description A translucent/frosted glass Discord theme
 * @author CapnKitten
 *
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Translucence/css/source.css
 * @donate https://paypal.me/capnkitten
 * @invite jzJkA6Z
 */

@import url(https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css);

:root {
	--app-bg: url(https://i.imgur.com/bgmVeyt.jpg);
	--app-blur: 6px;
	--app-margin: 24px;
	--app-radius: 8px; /*	-	*/
	
	--accent-hue: 156;
	--accent-saturation: 77.5%;
	--accent-lightness: 47.1%;
	--accent-opacity: 1;
	--accent-text-color: #000; /*	-	*/

	--sidebar-color: rgba(0,0,0,0.4);
	--main-content-color: rgba(0,0,0,0.2); /*	-	*/

	--message-color: rgba(0,0,0,0.4);
	--message-radius: 8px;
	--message-padding-top: 8px;
	--message-padding-side: 8px; /*	-	*/
	
	--reply-hue: 226;
	--reply-saturation: 77.4%;
	--reply-lightness: 61.8%;
	--reply-opacity: 1; /*	-	*/

	--textarea-color: 255,255,255;
	--textarea-alpha: 0.1;
	--textarea-alpha-focus: 0.15;
	--textarea-text-color: #fff;
	--textarea-radius: 22px;  /*	-	*/

	--card-color: rgba(0,0,0,0.4);
	--card-color-hover: rgba(0,0,0,0.5);
	--card-color-select: rgba(0,0,0,0.7); /*	-	*/

	--interactive-normal: #aaa;
	--interactive-hover: #ddd;
	--interactive-active: #fff;
	--interactive-muted: #777; /*	-	*/

	--background-modifier-hover: rgba(255,255,255,0.075);
	--background-modifier-selected: rgba(255,255,255,0.125);
}
