[Desktop Entry]
Version=1.0
Type=Application
Name=Logout
Comment=
Exec=xfce4-session-logout
Icon=power-button
Path=
Terminal=false
StartupNotify=false
