[Desktop Entry]
Type=Application
Name=CyberChef
Comment=The Cyber Swiss Army Knife
Icon=cyberchef
Exec=cyberchef
Terminal=false
Categories=Utility;Development;
StartupWMClass=CyberChef
X-XFCE-Source=file:///usr/share/applications/cyberchef.desktop
