/* ----- Light Theme ----- */
:root {
  --color: #000;
  --bg: #fff;
  --alt-bg: #f5f5f5;
  --hover: #eaeaea;
  --highlight: #f90;

  --body-bg: #630;
  --header: #c60;

  --nav-bg: #420;
  --nav-hover: #851;
  --nav-color: cornsilk;

  --btn-bg: #f90;
  --btn-hover: #e70;

  --link: #e70;
  --border: #ddd;
  --shadow: #0004;
  --dim: #777;
  --tr: #f5f5f5;
}

/* ----- Dark Theme ----- */
@media screen and (prefers-color-scheme: dark) {
  :root {
    --color: #fff;
    --bg: #420;
    --alt-bg: #666;
    --hover: #888;

    /* --body-bg: #630; */
    --header: #e70;

    --btn-bg: #f90;
    --btn-hover: #e70;

    --link: #f90;
    --border: #777;
    --shadow: #fff8;
    --dim: #ccc;
    --tr: #531;
  }
}

/* ----- General ----- */
body {
  color: var(--color);
  background-color: var(--body-bg);
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

article {
  padding: 0;
  margin: 0;
}

section {
  padding: 0;
}

a {
  color: var(--link);
  text-decoration: none;
}

select,
textarea,
input[type="number"],
input[type="text"],
input[type="password"],
input[type="url"] {
  width: 100%;
  color: inherit;
  background-color: var(--alt-bg);
  border: 1px solid var(--border);
  border-radius: 0.3em;
}

label[for],
input[type="checkbox"],
summary,
.pointer {
  cursor: pointer;
}

::placeholder {
  opacity: 0.5;
  color: inherit;
  font-style: italic;
}

.invalid,
input:invalid {
  box-shadow: 1px 1px 4px #f20, -1px -1px 4px #f20;
}

/* ----- Buttons ----- */
button,
label.flat {
  background-color: var(--btn-bg);
  border: none;
  color: inherit;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

button.flat,
label.flat {
  display: inline-block;
  font-size: 0.9em;
  color: #fff;
  border-radius: 5px;
  padding: 0.4em 1em;
  min-width: 8em;
}

button:hover,
label.flat:hover {
  background-color: var(--btn-hover);
}

button:disabled,
select:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

button.plain {
  background-color: unset;
  padding: 0;
  margin: 0;
  min-width: 1em;
}

button[type="submit"] {
  display: table;
  color: #fff;
  font-size:0.9em;
  border-radius: 5px;
  padding: 0.5em 5em;
  margin: 1em auto 0;
}
/* ----- /Buttons ----- */
