
name: Vulcano
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  pull_request_target:
    types: [opened, reopened, edited, synchronize, ready_for_review]
    paths:
      - 'src/**/PKGBUILD'
jobs:
  labeling:
    runs-on: ubuntu-latest
    steps:
      - name: Labeling
        uses: actions-ecosystem/action-add-labels@v1
        with:
          labels: '1.has: package'
  pkgcheck:
    runs-on: ubuntu-latest
    container:
      image: athenaos/base-devel:latest
      options: --privileged 
    steps:
      - name: Install dependencies
        run: |
          pacman -Syyu --noconfirm pkgcheck-arch git
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - name: Trust workspace directory
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Check Styling
        run: |
          CHANGED_PKGBUILDS=$(git diff --name-only --diff-filter=ACMRT \
            HEAD^1...HEAD \
            | grep 'src/.*/PKGBUILD$' || true)
          for FILE in "${CHANGED_PKGBUILDS[@]}"; do
            if [[ $(basename "$FILE") == "PKGBUILD" ]]; then
              echo "Checking $FILE..."
              pkgcheck "$FILE"
            fi
          done
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - name: Build Package
        run: |
          CHANGED_PKGBUILDS=$(git diff --name-only --diff-filter=ACMRT \
            HEAD^1...HEAD \
            | grep 'src/.*/PKGBUILD$' || true)
          for FILE in "${CHANGED_PKGBUILDS[@]}"; do
            if [[ $(basename "$FILE") == "PKGBUILD" ]]; then
              echo "Building $FILE..."
              podman build --load -t builder -f vulcano/Dockerfile $(dirname $FILE)
              podman run --rm builder
            fi
          done
